Repository nrwl/nx, pull requests merged in 2018-09, with the labels that each got.

#740 fix(scripts): checkcommit allows release commit
  package.json
  scripts/commit-lint.js
Labels: type: bug

#775 fix(schematics): use ngrx pipe select operator on Facades
  packages/schematics/src/collection/ngrx/files/__directory__/__fileName__.facade.ts__tmpl__
Labels: LGTM, ngrx

#774 fix(ngrx): add store typing for DataPersistence use
  packages/schematics/src/collection/ngrx/files/__directory__/__fileName__.effects.ts__tmpl__
  packages/schematics/src/collection/ngrx/files/__directory__/__fileName__.facade.ts__tmpl__
  packages/schematics/src/collection/ngrx/files/__directory__/__fileName__.reducer.ts__tmpl__
  packages/schematics/src/collection/ngrx/ngrx.spec.ts
  packages/schematics/src/collection/ngrx/rules/add-imports-to-module.ts
Labels: LGTM, ngrx

#780 tests(schematic): add back unit tests for ng-add
  packages/schematics/src/collection/ng-add/index.ts
  packages/schematics/src/collection/ng-add/ng-add.spec.ts
Labels: LGTM
