Repository nrwl/nx, pull requests merged in 2020-03, with the labels that each got.

#2597 feat(core): add community approved plugins to nx list command
  .github/PULL_REQUEST_TEMPLATE/COMMUNITY_PLUGIN.MD
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  community/approved-plugins.json
  packages/workspace/package.json
  packages/workspace/src/command-line/list.ts
  packages/workspace/src/utils/community-plugins.ts
Labels: type: feature

#2621 fix(core): update nx list output spacing issue
  packages/workspace/src/command-line/list.ts
  packages/workspace/src/utils/community-plugins.ts
Labels: PR status: LGTM

#2622 docs(core): add section on debugging workspace schematics
  docs/shared/tools-workspace-schematics.md
  docs/shared/vscode-schematics-debug.png
Labels: scope: docs

#2629 chore(core): add @angular-architects/ddd to approved-plugins.json
  community/approved-plugins.json
  docs/shared/nx-plugin.md
Labels: community: plugin-submission

#2619 fix(angular): update library schematic to correctly register routes in parent module
  packages/angular/src/schematics/library/library.spec.ts
  packages/angular/src/utils/ast-utils.ts
Labels: scope: angular

#2636 feat(angular): added karma to jest plugin
  community/approved-plugins.json
Labels: community: plugin-submission

#2672 chore(core): nx plugin submission @flowaccount/nx-serverless
  community/approved-plugins.json
Labels: community: plugin-submission

#2676 feat(core): nx list enhancements and cleanup
  .github/PULL_REQUEST_TEMPLATE/COMMUNITY_PLUGIN.MD
  docs/angular/getting-started/getting-started.md
  docs/react/guides/cli.md
  docs/shared/nx-plugin.md
  docs/web/guides/cli.md
  e2e/cli.test.ts
  packages/workspace/src/command-line/list.ts
  packages/workspace/src/utils/plugin-utils.ts
  packages/workspace/src/utils/plugins.ts
  packages/workspace/src/utils/plugins/community-plugins.ts
  packages/workspace/src/utils/plugins/core-plugins.ts
  packages/workspace/src/utils/plugins/index.ts
  packages/workspace/src/utils/plugins/installed-plugins.ts
  packages/workspace/src/utils/plugins/models.ts
  packages/workspace/src/utils/plugins/plugin-capabilities.ts
  packages/workspace/src/utils/plugins/shared.ts
Labels: PR status: LGTM

#2715 fix(core): move setMaxWorkers responsibility to runCLI
  e2e/cypress.test.ts
  e2e/node.test.ts
  e2e/react-package.test.ts
  e2e/react.test.ts
  e2e/utils.ts
  e2e/web.test.ts
  e2e/workspace.test.ts
Labels: PR status: in-progress
