Repository nrwl/nx, pull requests merged in 2020-08, with the labels that each got.

#3032 fix(storybook): properly resolve TS paths in storybook webpack config
  e2e/storybook/src/storybook.test.ts
  packages/storybook/src/schematics/configuration/lib-files/.storybook/webpack.config.js__tmpl__
Labels: scope: storybook

#3485 feat(nextjs): update nextjs and related packages to current version
  packages/next/migrations.json
  packages/next/src/migrations/update-10-1-0/update-10-1-0.ts
  packages/next/src/utils/versions.ts
Labels: scope: nextjs

#3569 docs(docs): Shared > Migration > Preserving Git Histories
  docs/map.json
  docs/shared/migration/preserving-git-histories.md
Labels: scope: docs, type: docs
