Repository nrwl/nx, pull requests merged in 2020-11, with the labels that each got.

#3759 feat(testing): update cypress to 5.5.0
  package.json
  packages/cypress/package.json
  packages/cypress/src/utils/versions.ts
  yarn.lock
Labels: scope: testing tools

#4082 chore(react): bump versions for react dependencies and add migration
  packages/react/migrations.json
  packages/react/src/migrations/update-10-4-0/update-10-4-0.spec.ts
  packages/react/src/migrations/update-10-4-0/update-10-4-0.ts
  packages/react/src/utils/versions.ts
Labels: scope: react

#4046 docs(docs): add map checker script
  docs/angular/api/home.md
  docs/map.json
  docs/react/api/home.md
  package.json
  scripts/documentation/map-link-checker.ts
Labels: type: docs

#4088 Emotion upgrade for React and Next plugins
  packages/next/migrations.json
  packages/next/src/migrations/update-11-0-0/rename-emotion-packages-11-0-0.spec.ts
  packages/next/src/migrations/update-11-0-0/rename-emotion-packages-11-0-0.ts
  packages/next/src/migrations/update-11-0-0/update-11-0-0.spec.ts
  packages/next/src/migrations/update-11-0-0/update-11-0-0.ts
  packages/next/src/utils/styles.ts
  packages/next/src/utils/versions.ts
  packages/react/migrations.json
  packages/react/plugins/bundle-rollup.ts
  packages/react/src/migrations/update-11-0-0/rename-emotion-packages-11-0-0.spec.ts
  packages/react/src/migrations/update-11-0-0/rename-emotion-packages-11-0-0.ts
  packages/react/src/migrations/update-11-0-0/update-11-0-0.spec.ts
  packages/react/src/migrations/update-11-0-0/update-11-0-0.ts
  packages/react/src/schematics/application/application.spec.ts
  packages/react/src/schematics/component/component.spec.ts
  packages/react/src/schematics/library/library.spec.ts
  packages/react/src/utils/babel-utils.ts
  packages/react/src/utils/styled.ts
  packages/react/src/utils/versions.ts
  packages/workspace/index.ts
  packages/workspace/src/utils/rules/rename-npm-packages.spec.ts
  packages/workspace/src/utils/rules/rename-npm-packages.ts
  packages/workspace/src/utils/rules/rename-package-imports.spec.ts
  packages/workspace/src/utils/rules/rename-package-imports.ts
  packages/workspace/testing.ts
Labels: scope: nextjs, scope: react
