Repository nrwl/nx, pull requests merged in 2020-05, with the labels that each got.

#2723 chore(core): nx plugin submission [@angular-custom-builders/lite-serve]
  community/approved-plugins.json
Labels: community: plugin-submission

#2923 chore(core): nx plugin submission @nx-plus/docusaurus
  community/approved-plugins.json
Labels: community: plugin-submission

#2949 chore(core): nx plugin submission @twittwer/compodoc
  community/approved-plugins.json
Labels: community: plugin-submission

#3018 fix(core): make sure remove schematic respects gitignore
  packages/workspace/src/schematics/remove/lib/check-dependencies.ts
Labels: PR status: LGTM

#2957 chore(core): nx plugin submission @nxext/stencil
  community/approved-plugins.json
Labels: community: plugin-submission

#3047 fix(nextjs): copy public folder to dist when building Next app
  e2e/next.test.ts
  packages/next/package.json
  packages/next/src/schematics/application/files/pages/__fileName__.tsx__tmpl__
  packages/next/src/schematics/application/files/public/nx-logo-white.svg
  packages/next/src/schematics/application/files/public/star.svg
  packages/next/src/utils/config.spec.ts
  packages/next/src/utils/config.ts
  packages/web/src/utils/config.ts
  packages/web/src/utils/types.ts
  tsconfig.json
Labels: scope: nextjs

#3076 chore(repo): add stale issues check to github workflow
  .github/workflows/schedule-stale.yml
Labels: PR status: in-progress
