Repository nrwl/nx, pull requests merged in 2020-09, with the labels that each got.

#3627 fix(core): remove invalid --plain flags from affected commands
  docs/angular/cli/affected-build.md
  docs/angular/cli/affected-dep-graph.md
  docs/angular/cli/affected-e2e.md
  docs/angular/cli/affected-lint.md
  docs/angular/cli/affected-test.md
  docs/angular/cli/affected.md
  docs/angular/cli/format-check.md
  docs/angular/cli/format-write.md
  docs/angular/cli/print-affected.md
  docs/react/cli/affected-build.md
  docs/react/cli/affected-dep-graph.md
  docs/react/cli/affected-e2e.md
  docs/react/cli/affected-lint.md
  docs/react/cli/affected-test.md
  docs/react/cli/affected.md
  docs/react/cli/format-check.md
  docs/react/cli/format-write.md
  docs/react/cli/print-affected.md
  packages/workspace/src/command-line/affected.ts
  packages/workspace/src/command-line/nx-commands.ts
  packages/workspace/src/command-line/utils.ts
Labels: scope: core

#3646 fix(linter): exit node process successfully when maxWarnings is set
  packages/linter/src/builders/lint/lint.impl.spec.ts
  packages/linter/src/builders/lint/lint.impl.ts
Labels: PR status: in-progress

#3662 fix(angular): properly generate storybook stories across barrel files
  packages/angular/src/schematics/component-cypress-spec/component-cypress-spec.ts
  packages/angular/src/schematics/component-story/component-story.ts
  packages/angular/src/schematics/stories/stories.spec.ts
  packages/angular/src/schematics/stories/stories.ts
  packages/angular/src/schematics/storybook-configuration/__snapshots__/configuration.spec.ts.snap
Labels: scope: storybook

#3791 feat(docs): Adding videos for React tutorials
  docs/react/tutorial/01-create-application.md
  docs/react/tutorial/02-add-e2e-test.md
  docs/react/tutorial/03-display-todos.md
  docs/react/tutorial/04-connect-to-api.md
  docs/react/tutorial/05-add-node-app.md
  docs/react/tutorial/06-proxy.md
  docs/react/tutorial/07-share-code.md
  docs/react/tutorial/08-create-libs.md
  docs/react/tutorial/09-dep-graph.md
  docs/react/tutorial/10-computation-caching.md
  docs/react/tutorial/11-test-affected-projects.md
Labels: scope: docs
