Repository nrwl/nx, pull requests merged in 2020-04, with the labels that each got.

#2797 fix(nextjs): import node_sass only for scss styles
  packages/next/src/schematics/application/lib/add-style-dependencies.ts
Labels: PR status: LGTM

#2822 chore(core): nx plugin submission @offeringsolutions/nx-protractor-to…
  community/approved-plugins.json
Labels: community: plugin-submission

#2801 chore(core): nx plugin submission [@gperdomor/nx-docker]
  community/approved-plugins.json
Labels: community: plugin-submission

#2811 fix(core): file-utils workspaceFileName now returns proper file name
  packages/web/src/builders/package/run-rollup.ts
  packages/workspace/src/command-line/workspace-integrity-checks.spec.ts
  packages/workspace/src/core/affected-project-graph/locators/workspace-json-changes.spec.ts
  packages/workspace/src/core/file-utils.ts
Labels: scope: core

#2756 feat(nest): extend @nestjs/schematics in @nrwl/nest
  packages/nest/collection.json
  packages/nest/package.json
Labels: PR status: LGTM

#2692 feat(nx-plugin): add migration schematic
  docs/angular/api-nx-plugin/schematics/migration.md
  docs/react/api-nx-plugin/schematics/migration.md
  e2e/nx-plugin.test.ts
  packages/nx-plugin/collection.json
  packages/nx-plugin/src/schematics/migration/files/migration/__name__/__name__.spec.ts__tmpl__
  packages/nx-plugin/src/schematics/migration/files/migration/__name__/__name__.ts__tmpl__
  packages/nx-plugin/src/schematics/migration/migration.spec.ts
  packages/nx-plugin/src/schematics/migration/migration.ts
  packages/nx-plugin/src/schematics/migration/schema.d.ts
  packages/nx-plugin/src/schematics/migration/schema.json
Labels: PR status: LGTM

#2708 feat(nx-plugin): add "schematic" schematic
  docs/angular/api-nx-plugin/schematics/schematic.md
  docs/react/api-nx-plugin/schematics/schematic.md
  e2e/nx-plugin.test.ts
  packages/nx-plugin/collection.json
  packages/nx-plugin/src/schematics/plugin/files/plugin/collection.json__tmpl__
  packages/nx-plugin/src/schematics/plugin/plugin.spec.ts
  packages/nx-plugin/src/schematics/plugin/plugin.ts
  packages/nx-plugin/src/schematics/schematic/files/schematic/__fileName__/files/src/index.ts.template
  packages/nx-plugin/src/schematics/schematic/files/schematic/__fileName__/schema.d.ts__tmpl__
  packages/nx-plugin/src/schematics/schematic/files/schematic/__fileName__/schema.json__tmpl__
  packages/nx-plugin/src/schematics/schematic/files/schematic/__fileName__/schematic.spec.ts__tmpl__
  packages/nx-plugin/src/schematics/schematic/files/schematic/__fileName__/schematic.ts__tmpl__
  packages/nx-plugin/src/schematics/schematic/schema.d.ts
  packages/nx-plugin/src/schematics/schematic/schema.json
  packages/nx-plugin/src/schematics/schematic/schematic.spec.ts
  packages/nx-plugin/src/schematics/schematic/schematic.ts
Labels: PR status: LGTM

#2912 feat(core): adds deselect all button to dep-graph
  packages/workspace/src/core/dep-graph/dep-graph.html
  packages/workspace/src/core/dep-graph/dep-graph.js
Labels: PR status: LGTM, scope: core
