Repository nrwl/nx, pull requests merged in 2021-02, with the labels that each got.

#4642 feat(storybook): storybook v6 migration generator for default configuration
  docs/angular/api-angular/generators/storybook-configuration.md
  docs/angular/api-angular/generators/storybook-migrate-defaults-5-to-6.md
  docs/angular/api-react/generators/storybook-migrate-defaults-5-to-6.md
  docs/angular/api-storybook/generators/migrate-defaults-5-to-6.md
  docs/angular/guides/storybook-plugin.md
  docs/map.json
  docs/node/api-angular/generators/storybook-configuration.md
  docs/node/api-angular/generators/storybook-migrate-defaults-5-to-6.md
  docs/node/api-react/generators/storybook-migrate-defaults-5-to-6.md
  docs/node/api-storybook/generators/migrate-defaults-5-to-6.md
  docs/react/api-angular/generators/storybook-configuration.md
  docs/react/api-angular/generators/storybook-migrate-defaults-5-to-6.md
  docs/react/api-react/generators/storybook-migrate-defaults-5-to-6.md
  docs/react/api-storybook/generators/migrate-defaults-5-to-6.md
  docs/react/guides/storybook-plugin.md
  packages/angular/collection.json
  packages/angular/src/schematics/storybook-configuration/schema.json
  packages/angular/src/schematics/storybook-migrate-defaults-5-to-6/migrate-defaults-5-to-6.spec.ts
  packages/angular/src/schematics/storybook-migrate-defaults-5-to-6/migrate-defaults-5-to-6.ts
  packages/angular/src/schematics/storybook-migrate-defaults-5-to-6/schema.d.ts
  packages/angular/src/schematics/storybook-migrate-defaults-5-to-6/schema.json
  packages/react/collection.json
  packages/react/index.ts
  packages/react/src/schematics/storybook-migrate-defaults-5-to-6/migrate-defaults-5-to-6.spec.ts
  packages/react/src/schematics/storybook-migrate-defaults-5-to-6/migrate-defaults-5-to-6.ts
  packages/react/src/schematics/storybook-migrate-defaults-5-to-6/schema.d.ts
  packages/react/src/schematics/storybook-migrate-defaults-5-to-6/schema.json
  packages/storybook/collection.json
  packages/storybook/package.json
  packages/storybook/src/schematics/configuration/configuration.ts
  packages/storybook/src/schematics/migrate-defaults-5-to-6/migrate-defaults-5-to-6.spec.ts
  packages/storybook/src/schematics/migrate-defaults-5-to-6/migrate-defaults-5-to-6.ts
  packages/storybook/src/schematics/migrate-defaults-5-to-6/schema.d.ts
  packages/storybook/src/schematics/migrate-defaults-5-to-6/schema.json
Labels: scope: storybook

#4760 fix(angular): honor `buildableProjectDepsInPackageJsonType` in angula…
  docs/angular/api-angular/executors/ng-packagr-lite.md
  docs/node/api-angular/executors/ng-packagr-lite.md
  docs/react/api-angular/executors/ng-packagr-lite.md
  e2e/angular/src/angular-library.test.ts
  packages/angular/src/builders/ng-packagr-lite/schema.json
  packages/angular/src/builders/package/package.impl.ts
Labels: scope: angular

#4885 feat(nextjs): allow custom distDir
  packages/next/src/executors/build/build.impl.ts
  packages/next/src/utils/config.ts
Labels: scope: nextjs
