Repository nrwl/nx, pull requests merged in 2022-03, with the labels that each got.

#9142 feat(core): expose swc/register via tao
  package.json
  packages/eslint-plugin-nx/package.json
  packages/eslint-plugin-nx/src/resolve-workspace-rules.ts
  packages/tao/package.json
  packages/tao/src/utils/register.ts
  yarn.lock
Labels: scope: repo

#9033 fix(linter): update circular file path message to wrap onto multiple lines
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.spec.ts
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts
Labels: scope: linter

#9192 fix(linter): ensure onlyDependOnLibsWithTags is present before check
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts
Labels: scope: linter

#9118 fix(linter): use projectGraph in hasher for calculating dependencies
  packages/linter/src/executors/eslint/hasher.ts
Labels: scope: core

#8633 feat(linter): add notDependOnLibsWithTags constraint option to enforce-module-boundaries rule
  docs/shared/monorepo-tags.md
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.spec.ts
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts
  packages/workspace/src/tslint/nxEnforceModuleBoundariesRule.ts
  packages/workspace/src/utils/graph-utils.ts
  packages/workspace/src/utils/runtime-lint-utils.ts
Labels: scope: linter

#8901 feat(linter): automatic fixes for noRelativeOrAbsoluteImportsAcrossLibraries and noSelfCircularDependencies
  e2e/linter/src/linter.test.ts
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts
  packages/eslint-plugin-nx/src/utils/ast-utils.ts
  packages/workspace/src/tslint/nxEnforceModuleBoundariesRule.ts
  packages/workspace/src/utils/runtime-lint-utils.ts
Labels: scope: linter

#9264 docs(testing): improve cypress headless mode guide
  docs/shared/cypress-plugin.md
Labels: scope: testing tools, scope: docs

#9285 fix(linter): use import to check for secondary entrypoint in angular
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts
  packages/eslint-plugin-nx/src/utils/angular.ts
  packages/workspace/src/core/target-project-locator.ts
  packages/workspace/src/tslint/nxEnforceModuleBoundariesRule.ts
  packages/workspace/src/utils/runtime-lint-utils.ts
Labels: scope: linter

#9287 chore(core): add type for hasher filter to avoid typos
  packages/cypress/src/executors/cypress/hasher.ts
  packages/jest/src/executors/jest/hasher.ts
  packages/workspace/src/core/hasher/hasher.ts
Labels: scope: core

#9340 fix(linter): check for both nrwl/nx and eslint for terminal runs
  packages/workspace/src/utils/runtime-lint-utils.ts
Labels: scope: linter

#9348 fix(linter): ensure eslint fixes are stored before results are filtered
  packages/linter/src/executors/eslint/lint.impl.ts
Labels: scope: linter

#9293 chore(core): split hasher filter types for node and workspace project
  packages/workspace/src/core/hasher/hasher.ts
Labels: scope: core

#9420 fix(angular): change mfe schema port type to number
  docs/generated/api-angular/generators/mfe-host.md
  docs/generated/api-angular/generators/mfe-remote.md
  packages/angular/src/generators/mfe-host/schema.json
  packages/angular/src/generators/mfe-remote/schema.json
Labels: scope: angular

#9463 docs(nxdev): add 2 more testimonials on website's home
  nx-dev/nx-dev/public/images/testimonials/daniel-marin.jpg
  nx-dev/nx-dev/public/images/testimonials/tejas-kumar.jpg
  nx-dev/ui-home/src/lib/testimonials.tsx
Labels: type: docs

#9464 docs(nxdev): add babylonjs & milkdown to open source projects
  nx-dev/ui-home/src/lib/open-source-projects.tsx
Labels: type: docs

#9449 fix(web): ensure file server works on windows
  packages/web/src/executors/file-server/file-server.impl.ts
Labels: type: bug, scope: core

#9450 fix(core): fix missing versions from nx report
  packages/workspace/src/command-line/report.ts
Labels: scope: core

#9504 docs(core): detox package has better schema descriptions
  docs/generated/packages/detox.json
  packages/detox/generators.json
  packages/detox/package.json
Labels: type: docs

#9505 docs(nxdev): options playground wording update
  nx-dev/feature-package-schema-viewer/src/lib/content.tsx
Labels: type: docs

#9503 docs(core): cypress package has better schema descriptions
  docs/generated/packages/cypress.json
  packages/cypress/executors.json
  packages/cypress/generators.json
  packages/cypress/package.json
Labels: type: docs

#9507 docs(nxdev): menu is open when sub-item is current
  nx-dev/ui-common/src/lib/sidebar.tsx
Labels: type: docs

#9508 docs(core): detox package description improvements
  docs/generated/packages/detox.json
  packages/detox/package.json
Labels: type: docs

#9506 docs(core): js package description update
  docs/generated/packages/js.json
  packages/js/executors.json
  packages/js/generators.json
  packages/js/package.json
Labels: type: docs

#9502 docs(core): angular package has better schema descriptions
  docs/generated/packages/angular.json
  packages/angular/executors.json
  packages/angular/generators.json
  packages/angular/package.json
Labels: type: docs

#9517 docs(nxdev): remove duplicate monacojs cdn
  nx-dev/nx-dev/pages/_document.tsx
Labels: type: docs

#9519 docs(nxdev): package view supports markdown
  docs/generated/packages/angular.json
  nx-dev/feature-package-schema-viewer/src/lib/package-schema-list.tsx
  nx-dev/feature-package-schema-viewer/src/lib/ui/markdown/markdown.tsx
  packages/angular/package.json
Labels: type: docs

#9521 docs(nxdev): enable open-graph image generation for package view
  scripts/documentation/open-graph/generate-images.ts
Labels: type: docs

#9522 docs(nxdev): set schema names has lowecase
  nx-dev/feature-package-schema-viewer/src/lib/package-schema-list.tsx
Labels: type: docs

#9524 docs(core): add description to react package
  docs/generated/packages/react.json
  packages/react/generators.json
  packages/react/package.json
  packages/react/src/generators/application/schema.json
  packages/react/src/generators/component/schema.json
  packages/react/src/generators/hook/schema.json
  packages/react/src/generators/init/schema.json
  packages/react/src/generators/library/schema.json
Labels: type: docs

#9520 docs(core): fix links to documentation
  packages/angular/src/migrations/update-12-3-0/update-storybook.ts
  packages/cra-to-nx/README.md
  packages/cra-to-nx/src/lib/cra-to-nx.ts
  packages/nx/src/adapter/ngcli-adapter.ts
  packages/nx/src/command-line/utils.ts
  packages/storybook/src/executors/utils.ts
Labels: type: docs

#9526 docs(core): add description to web package
  docs/generated/packages/web.json
  packages/web/executors.json
  packages/web/generators.json
  packages/web/package.json
Labels: type: docs

#9529 docs(nxdev): better seo description for package page
  nx-dev/feature-package-schema-viewer/src/lib/package-schema-list.tsx
Labels: type: docs

#9527 docs(core): add description to workspace package
  docs/generated/packages/workspace.json
  packages/workspace/executors.json
  packages/workspace/generators.json
  packages/workspace/package.json
Labels: type: docs

#9530 docs(core): add description to express package
  docs/generated/packages/express.json
  packages/express/generators.json
  packages/express/package.json
Labels: type: docs

#9532 docs(core): add description to nest package
  docs/generated/packages/nest.json
  packages/nest/generators.json
  packages/nest/package.json
Labels: type: docs

#9533 docs(core): add description to node package
  docs/generated/packages/node.json
  packages/node/executors.json
  packages/node/generators.json
  packages/node/package.json
Labels: type: docs

#9534 docs(core): add description to nextjs package
  docs/generated/packages/next.json
  packages/next/executors.json
  packages/next/generators.json
  packages/next/package.json
Labels: type: docs

#9531 docs(core): add description to jest package
  docs/generated/packages/jest.json
  packages/jest/executors.json
  packages/jest/generators.json
  packages/jest/package.json
Labels: type: docs

#9537 docs(core): add description to linter package
  docs/generated/packages/linter.json
  packages/linter/executors.json
  packages/linter/generators.json
  packages/linter/package.json
Labels: type: docs

#9485 fix(testing): add root karma config if one isn't present for karma-project generator
  docs/generated/packages/angular.json
  packages/angular/src/generators/karma-project/karma-project.spec.ts
  packages/angular/src/generators/karma-project/karma-project.ts
  packages/angular/src/generators/karma-project/schema.d.ts
  packages/angular/src/generators/karma-project/schema.json
  packages/angular/src/generators/karma/karma.spec.ts
  packages/angular/src/generators/karma/karma.ts
Labels: scope: testing tools

#9536 docs(core): add description to react-native package
  docs/generated/packages/react-native.json
  packages/react-native/executors.json
  packages/react-native/generators.json
  packages/react-native/package.json
Labels: type: docs

#9539 docs(core): add description to nx-plugin package
  docs/generated/packages/nx-plugin.json
  packages/nx-plugin/executors.json
  packages/nx-plugin/generators.json
Labels: type: docs

#9541 docs(nxdev): add breadcrumbs root link
  nx-dev/feature-package-schema-viewer/src/lib/content.tsx
Labels: type: docs

#9553 docs(nxdev): add url redirection patterns
  nx-dev/nx-dev/next.config.js
Labels: type: docs

#9557 docs(nxdev): misc format
  nx-dev/feature-doc-viewer/src/lib/code-block.tsx
  nx-dev/feature-package-schema-viewer/src/lib/ui/markdown/code-block.tsx
  nx-dev/ui-community/src/lib/connect-with-us.tsx
  nx-dev/ui-home/src/lib/open-source-projects.tsx
Labels: type: docs

#9558 docs(nxdev): add skip to content shortcut
  nx-dev/nx-dev/pages/[...segments].tsx
  nx-dev/nx-dev/pages/_app.tsx
  nx-dev/nx-dev/pages/community.tsx
  nx-dev/nx-dev/pages/conf.tsx
  nx-dev/nx-dev/pages/index.tsx
Labels: type: docs

#9565 docs(nxdev): fill missing project tags
  nx-dev/models-document/project.json
  nx-dev/models-menu/project.json
  nx-dev/models-package/project.json
  nx-dev/ui-community/project.json
  nx-dev/ui-sponsor-card/project.json
Labels: type: docs

#9566 docs(nxdev): remove unused storage feature library
  nx-dev/feature-storage/.eslintrc.json
  nx-dev/feature-storage/README.md
  nx-dev/feature-storage/jest.config.js
  nx-dev/feature-storage/project.json
  nx-dev/feature-storage/src/index.ts
  nx-dev/feature-storage/src/lib/use-storage.spec.ts
  nx-dev/feature-storage/src/lib/use-storage.ts
  nx-dev/feature-storage/tsconfig.json
  nx-dev/feature-storage/tsconfig.lib.json
  nx-dev/feature-storage/tsconfig.spec.json
  workspace.json
Labels: type: docs

#9567 docs(core): adding bitbucket pipelines doc
  docs/map.json
  docs/shared/ci-overview.md
  docs/shared/monorepo-ci-bitbucket-pipelines.md
Labels: type: docs

#9601 docs(core): cross-link create-nx-workspace api docs from nx-setup
  docs/shared/getting-started/nx-setup.md
Labels: type: docs, scope: core

#9614 docs(nxdev): update algolia docsearch version
  nx-dev/feature-search/src/lib/algolia-search.tsx
  package.json
  yarn.lock
Labels: type: docs

#9591 docs(cypress): fix headless/headed modes description
  docs/shared/cypress-plugin.md
Labels: scope: testing tools, scope: docs

#9607 feat(nxdev): add types to CLI docs
  docs/generated/cli/affected-apps.md
  docs/generated/cli/affected-graph.md
  docs/generated/cli/affected-libs.md
  docs/generated/cli/affected.md
  docs/generated/cli/connect-to-nx-cloud.md
  docs/generated/cli/create-nx-workspace.md
  docs/generated/cli/daemon.md
  docs/generated/cli/format-check.md
  docs/generated/cli/format-write.md
  docs/generated/cli/graph.md
  docs/generated/cli/list.md
  docs/generated/cli/migrate.md
  docs/generated/cli/print-affected.md
  docs/generated/cli/run-many.md
  docs/generated/cli/workspace-generator.md
  scripts/documentation/utils.ts
Labels: type: feature, scope: docs

#9634 docs(core): update generator options link to params.ts
  docs/shared/generators/generator-options.md
Labels: type: docs

#9635 docs(core): add missing periods to storybook schemas
  docs/generated/packages/storybook.json
  packages/storybook/src/executors/build-storybook/schema.json
  packages/storybook/src/executors/storybook/schema.json
Labels: type: docs

#9619 docs(nxdev): add algolia production configuration
  nx-dev/feature-search/src/lib/algolia-search.global.css
  nx-dev/feature-search/src/lib/algolia-search.tsx
Labels: type: docs
