Repository nrwl/nx, pull requests merged in 2023-09, with the labels that each got.

#18899 feat(testing): support cypress v13
  docs/generated/packages/cypress/executors/cypress.json
  packages/cypress/migrations.json
  packages/cypress/package.json
  packages/cypress/plugins/cypress-preset.ts
  packages/cypress/src/executors/cypress/cypress.impl.ts
  packages/cypress/src/executors/cypress/schema.json
  packages/cypress/src/migrations/update-16-8-0/cypress-13.spec.ts
  packages/cypress/src/migrations/update-16-8-0/cypress-13.ts
  packages/cypress/src/utils/versions.ts
  packages/react/plugins/component-testing/index.ts
Labels: scope: testing tools

#18956 fix(vite): Update typings and fix when converting lib to vite
  packages/react/src/generators/library/files/common/tsconfig.lib.json__tmpl__
  packages/react/src/generators/library/files/vite/tsconfig.lib.json__tmpl__
  packages/react/src/generators/library/library.spec.ts
  packages/vite/src/generators/configuration/configuration.ts
Labels: scope: react

#18969 chore(nextjs): update nextjs plugin's unit test to use as-provided
  packages/next/src/generators/application/application.spec.ts
  packages/next/src/generators/application/lib/add-linting.spec.ts
  packages/next/src/generators/component/component.spec.ts
  packages/next/src/generators/cypress-component-configuration/__snapshots__/cypress-component-configuration.spec.ts.snap
  packages/next/src/generators/cypress-component-configuration/cypress-component-configuration.spec.ts
  packages/next/src/generators/init/init.spec.ts
  packages/next/src/generators/library/library.spec.ts
  packages/next/src/generators/page/page.spec.ts
Labels: scope: nextjs

#18972 fix(nextjs): Ensure build-custom-server is only added once to nx.json
  packages/next/src/generators/custom-server/custom-server.ts
Labels: scope: nextjs

#18935 fix(linter): fix dep-checks projPackageJsonDeps caching for IDE
  packages/eslint-plugin/src/rules/dependency-checks.ts
  packages/eslint-plugin/src/utils/package-json-utils.ts
  packages/eslint-plugin/src/utils/project-graph-utils.ts
Labels: scope: linter

#18976 docs(misc): update tutorials to match new layout
  docs/shared/angular-standalone-tutorial/angular-standalone.md
  docs/shared/angular-tutorial/1-code-generation.md
  docs/shared/node-server-tutorial/2-project-graph.md
  docs/shared/node-server-tutorial/4-task-pipelines.md
  docs/shared/npm-tutorial/integrated.md
  docs/shared/react-standalone-tutorial/react-standalone.md
  docs/shared/react-tutorial/1-code-generation.md
Labels: type: docs

#19026 fix(linter): handle non-JSON eslintrc files when updating overrides
  e2e/node/src/node.test.ts
  packages/linter/src/generators/utils/eslint-file.spec.ts
  packages/linter/src/generators/utils/eslint-file.ts
Labels: scope: linter

#19035 fix(linter): ensure config manipulations are run only if config is supported
  packages/js/src/generators/library/library.ts
  packages/linter/src/generators/utils/eslint-file.ts
  packages/linter/src/migrations/update-16-8-0-add-ignored-files/update-16-8-0-add-ignored-files.spec.ts
  packages/linter/src/migrations/update-16-8-0-add-ignored-files/update-16-8-0-add-ignored-files.ts
Labels: scope: linter

#19185 chore(repo): upgrade deprecated mac ci image
  .circleci/config.yml
Labels: scope: repo

#19183 fix(angular): dont add .angular/cache to prettier again if existing
  packages/angular/src/generators/init/init.ts
Labels: scope: angular

#19192 feat(react): Support loading remotes via library: var
  e2e/react-core/src/react-module-federation.test.ts
  packages/react/src/module-federation/utils.ts
  packages/react/src/module-federation/with-module-federation.ts
  packages/webpack/src/utils/module-federation/remotes.ts
Labels: scope: react

#19201 fix(nextjs): Add missing env to base Nx Env
  packages/next/plugins/with-nx.ts
Labels: scope: nextjs

#19294 fix(linter): fix rule typings
  packages/eslint-plugin/src/rules/dependency-checks.ts
  packages/eslint-plugin/src/rules/enforce-module-boundaries.ts
  packages/eslint-plugin/src/rules/nx-plugin-checks.ts
Labels: scope: linter
