Repository nrwl/nx, pull requests merged in 2023-02, with the labels that each got.

#14744 docs(core): rewrite webpack loader title for seo
  docs/generated/packages/webpack/documents/webpack-config-setup.md
  docs/shared/packages/webpack/webpack-config-setup.md
Labels: type: docs

#14779 fix(node): quote filepath in cli e2e sample test
  packages/node/src/generators/e2e-project/e2e-project.spec.ts
  packages/node/src/generators/e2e-project/files/cli/src/__fileName__/__fileName__.spec.ts__tmpl__
Labels: scope: node

#14775 docs(core): add view-logs description
  docs/generated/cli/view-logs.md
  docs/generated/manifests/menus.json
  docs/generated/manifests/packages.json
  docs/generated/packages-metadata.json
  docs/generated/packages/nx/documents/view-logs.md
  docs/map.json
  packages/nx/src/command-line/nx-commands.ts
Labels: type: docs

#14727 docs(expo): add deprecated text
  docs/generated/packages/expo/executors/start.json
  packages/expo/src/executors/start/schema.json
  packages/nx/src/native/nx.darwin-x64.node
Labels: type: docs

#14820 docs(core): fix grammar in ci guides
  docs/shared/monorepo-ci-azure.md
  docs/shared/monorepo-ci-bitbucket-pipelines.md
  docs/shared/monorepo-ci-circle-ci.md
  docs/shared/monorepo-ci-github-actions.md
  docs/shared/monorepo-ci-gitlab.md
  docs/shared/monorepo-ci-jenkins.md
Labels: scope: docs

#14830 docs(core): add link to tRPC plugin guide
  docs/shared/plugin-features/create-your-own-plugin.md
Labels: type: docs

#14882 docs(core): remove cache artefact from CI config
  docs/shared/monorepo-ci-gitlab.md
Labels: type: docs

#14864 cleanup(core): remove reference to deprecated ProjectGraphNode
  graph/client/src/app/feature-tasks/task-list.tsx
  graph/client/src/app/util.ts
  packages/nx/src/config/project-graph.ts
  packages/nx/src/project-graph/nx-deps-cache.ts
  packages/nx/src/project-graph/operators.ts
Labels: scope: core

#14960 docs(core): change overview path on devkit
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx.json
  docs/generated/manifests/packages.json
  docs/generated/manifests/tags.json
  docs/generated/packages-metadata.json
  docs/generated/packages/devkit/documents/nrwl_devkit.md
  docs/generated/packages/nx-plugin/documents/overview.md
  docs/map.json
  docs/shared/guides/nx-devkit-angular-devkit.md
  docs/shared/packages/nx-plugin/nx-plugin.md
  docs/shared/recipes/generators/local-generators.md
  docs/shared/recipes/plugins/compose-executors.md
  nx-dev/nx-dev/redirect-rules.config.js
Labels: type: docs

#14948 fix(core): support wildcard and latest for pruning version normalization
  packages/nx/src/lock-file/project-graph-pruning.ts
  packages/nx/src/utils/create-package-json.ts
Labels: scope: core

#14949 fix(core): nesting npm lock file deps should support multi nests
  packages/nx/src/lock-file/npm-parser.ts
Labels: scope: core

#14947 feat(node): setting docker on app generation should set generateLockfile on target config
  packages/node/src/generators/application/application.ts
Labels: scope: node

#14963 docs(bundling): add info on adding deps to package.json
  docs/generated/packages/rollup/executors/rollup.json
  packages/rollup/src/docs/rollup-examples.md
  packages/rollup/src/executors/rollup/schema.json
Labels: type: docs, scope: docs

#14966 docs(nx-dev): change example repository wording
  nx-dev/ui-markdoc/src/lib/tags/github-repository.component.tsx
Labels: type: docs

#14972 docs(nx-cloud): make access token doc discoverable
  docs/nx-cloud/account/access-tokens.md
Labels: type: docs

#14978 fix(core): do not always use yarn as package manager in the gitlab ci t…
  packages/workspace/src/generators/ci-workflow/files/gitlab/.gitlab-ci.yml__tmpl__
Labels: type: bug, scope: core

#14958 fix(core): skip peer deps from devDependencies on createPackageJson
  packages/nx/src/utils/create-package-json.ts
Labels: scope: core

#14982 feat(linter): add support for full regexes in tag matching
  packages/eslint-plugin-nx/src/utils/runtime-lint-utils.spec.ts
  packages/eslint-plugin-nx/src/utils/runtime-lint-utils.ts
Labels: scope: linter

#14627 docs(core): node-server standalone tutorial
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx.json
  docs/map.json
  docs/shared/getting-started/intro.md
  docs/shared/node-tutorial/1-code-generation.md
  docs/shared/node-tutorial/2-project-graph.md
  docs/shared/node-tutorial/3-task-running.md
  docs/shared/node-tutorial/4-task-pipelines.md
  docs/shared/node-tutorial/4-workspace-optimization.md
  docs/shared/node-tutorial/5-docker-target.md
  docs/shared/node-tutorial/6-summary.md
  docs/shared/node-tutorial/affected-project-graph.json
  docs/shared/node-tutorial/final-project-graph.json
  docs/shared/node-tutorial/initial-project-graph.json
  docs/shared/node-tutorial/initial-project-graph.png
  docs/shared/node-tutorial/matching-graph.png
  docs/shared/node-tutorial/project-graph-with-all-affected.png
  docs/shared/node-tutorial/project-graph-with-one-affected.png
  docs/shared/node-tutorial/requirements-diagram.svg
  nx-dev/nx-dev/redirect-rules.config.js
  nx-dev/ui-markdoc/src/lib/tags/personas.component.tsx
Labels: type: docs

#14980 fix(linter): add node_modules to linter ignore patterns
  packages/angular/src/generators/storybook-configuration/__snapshots__/storybook-configuration.spec.ts.snap
  packages/linter/migrations.json
  packages/linter/src/generators/init/init.spec.ts
  packages/linter/src/generators/init/init.ts
  packages/linter/src/generators/utils/eslint-targets.ts
  packages/linter/src/migrations/update-15-0-0/add-eslint-inputs.ts
  packages/linter/src/migrations/update-15-7-1/add-eslint-ignore.spec.ts
  packages/linter/src/migrations/update-15-7-1/add-eslint-ignore.ts
Labels: scope: linter

#14893 feat(core): add full dependency information to project graph file dependencies
  docs/generated/devkit/nrwl_devkit.md
  docs/generated/packages/devkit/documents/index.md
  docs/generated/packages/devkit/documents/nrwl_devkit.md
  docs/shared/recipes/plugins/project-graph-plugins.md
  e2e/nx-run/src/affected-graph.test.ts
  graph/client/src/app/mock-project-graph-service.ts
  graph/ui-graph/src/lib/util-cytoscape/render-graph.ts
  packages/angular/src/executors/delegate-build/delegate-build.impl.spec.ts
  packages/angular/src/generators/cypress-component-configuration/cypress-component-configuration.spec.ts
  packages/angular/src/generators/storybook-configuration/storybook-configuration.spec.ts
  packages/cypress/src/migrations/update-15-0-0/update-cy-mount-usage.spec.ts
  packages/devkit/nx-reexports-pre16.ts
  packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.spec.ts
  packages/eslint-plugin-nx/src/utils/graph-utils.ts
  packages/nx/src/config/project-graph.ts
  packages/nx/src/devkit-exports.ts
  packages/nx/src/hasher/hasher.ts
  packages/nx/src/lock-file/npm-parser.ts
  packages/nx/src/lock-file/pnpm-parser.ts
  packages/nx/src/lock-file/project-graph-pruning.ts
  packages/nx/src/lock-file/yarn-parser.ts
  packages/nx/src/project-graph/build-dependencies/build-explicit-typescript-and-package-json-dependencies.ts
  packages/nx/src/project-graph/build-dependencies/explicit-package-json-dependencies.ts
  packages/nx/src/project-graph/build-dependencies/explicit-project-dependencies.spec.ts
  packages/nx/src/project-graph/build-dependencies/explicit-project-dependencies.ts
  packages/nx/src/project-graph/build-project-graph.spec.ts
  packages/nx/src/project-graph/build-project-graph.ts
  packages/nx/src/project-graph/nx-deps-cache.spec.ts
  packages/nx/src/project-graph/nx-deps-cache.ts
  packages/nx/src/project-graph/project-graph-builder.spec.ts
  packages/nx/src/project-graph/project-graph-builder.ts
  packages/nx/src/project-graph/project-graph.ts
  packages/react-native/src/generators/storybook-configuration/configuration.spec.ts
  packages/react/src/generators/cypress-component-configuration/cypress-component-configuration.spec.ts
  packages/react/src/generators/storybook-configuration/configuration.spec.ts
  packages/storybook/src/generators/configuration/configuration-nested.spec.ts
  packages/storybook/src/generators/configuration/configuration-v7.spec.ts
  packages/storybook/src/generators/configuration/configuration.spec.ts
  packages/storybook/src/migrations/update-14-0-0/migrate-defaults-5-to-6/migrate-defaults-5-to-6.spec.ts
  packages/storybook/src/migrations/update-14-0-0/migrate-stories-to-6-2/migrate-stories-to-6-2.spec.ts
  packages/storybook/src/utils/utilities.spec.ts
  packages/workspace/src/generators/remove/lib/check-targets.spec.ts
Labels: scope: core

#15052 fix(core): fix lock file parsing issues
  packages/nx/src/lock-file/npm-parser.ts
  packages/nx/src/lock-file/project-graph-pruning.ts
  packages/nx/src/project-graph/operators.ts
Labels: scope: core

#14701 feat(testing): jest 29 support
  e2e/node/src/node.test.ts
  packages/angular/migrations.json
  packages/angular/src/utils/versions.ts
  packages/jest/migrations.json
  packages/jest/preset/jest-preset.ts
  packages/jest/src/executors/jest/jest.impl.ts
  packages/jest/src/generators/jest-project/__snapshots__/jest-project.spec.ts.snap
  packages/jest/src/generators/jest-project/files-angular/jest.config.ts__tmpl__
  packages/jest/src/generators/jest-project/files/jest.config.ts__tmpl__
  packages/jest/src/generators/jest-project/jest-project.spec.ts
  packages/jest/src/generators/jest-project/lib/create-files.ts
  packages/jest/src/migrations/update-14-0-0/update-jest-config-ext.spec.ts
  packages/jest/src/migrations/update-14-6-0/update-configs-jest-28.spec.ts
  packages/jest/src/migrations/update-14-6-0/update-configs-jest-28.ts
  packages/jest/src/migrations/update-15-8-0/__snapshots__/update-configs-jest-29.spec.ts.snap
  packages/jest/src/migrations/update-15-8-0/__snapshots__/update-tests-jest-29.spec.ts.snap
  packages/jest/src/migrations/update-15-8-0/update-configs-jest-29.spec.ts
  packages/jest/src/migrations/update-15-8-0/update-configs-jest-29.ts
  packages/jest/src/migrations/update-15-8-0/update-tests-jest-29.spec.ts
  packages/jest/src/migrations/update-15-8-0/update-tests-jest-29.ts
  packages/jest/src/utils/__snapshots__/ast-utils.spec.ts.snap
  packages/jest/src/utils/ast-utils.spec.ts
  packages/jest/src/utils/ast-utils.ts
  packages/jest/src/utils/versions.ts
  packages/js/src/generators/library/library.spec.ts
  packages/linter/src/generators/workspace-rules-project/__snapshots__/workspace-rules-project.spec.ts.snap
  packages/nest/src/generators/library/__snapshots__/library.spec.ts.snap
  packages/workspace/src/generators/library/library.spec.ts
  packages/workspace/src/utilities/executor-options-utils.ts
Labels: scope: testing tools

#15218 fix(core): add hash to external nodes while parsing lock-file
  packages/nx/src/hasher/hasher.ts
  packages/nx/src/lock-file/npm-parser.spec.ts
  packages/nx/src/lock-file/npm-parser.ts
  packages/nx/src/lock-file/pnpm-parser.spec.ts
  packages/nx/src/lock-file/pnpm-parser.ts
  packages/nx/src/lock-file/yarn-parser.spec.ts
  packages/nx/src/lock-file/yarn-parser.ts
Labels: scope: core

#15250 docs(nx-cloud): add a missing command in the guide on setting up a k8…
  docs/nx-cloud/private/kubernetes-setup.md
Labels: type: docs

#15238 docs(misc): update overview of nx console on main page and integrate with editors page
  docs/shared/core-features/integrate-with-editors.md
  nx-dev/ui-common/src/lib/header.tsx
  nx-dev/ui-home/src/lib/extensible-and-integrated.tsx
  nx-dev/ui-home/src/lib/extensible-and-integrated/ide-integration-tab.tsx
  nx-dev/ui-home/src/lib/extensible-and-integrated/tabs.tsx
  nx-dev/ui-markdoc/src/lib/tags/install-nx-console.component.tsx
Labels: type: docs

#15262 docs(testing): add info about setupNodeEvents for more customizations
  docs/generated/packages/cypress/documents/overview.md
  docs/shared/packages/cypress/cypress-plugin.md
Labels: type: docs, scope: testing tools

#15261 docs(testing): clarify apps & libs can be component tested
  docs/generated/packages/cypress/documents/cypress-component-testing.md
  docs/shared/packages/cypress/cypress-component-testing.md
Labels: type: docs, scope: testing tools
