Repository nrwl/nx, pull requests merged in 2023-04, with the labels that each got.

#16010 docs(angular): remove leftovers references to the deleted file-server executor
  docs/generated/packages/angular/executors/file-server.json
  docs/packages.json
  docs/shared/mental-model/large-tasks.json
  packages/angular/docs/file-server-examples.md
Labels: type: docs

#16054 fix(core): fix NX_PERF_LOGGING toggles
  packages/nx/src/tasks-runner/run-command.ts
  packages/nx/src/utils/perf-logging.ts
  packages/workspace/src/utils/perf-logging.ts
Labels: scope: core

#16052 chore(repo): remove obsolete root-lint from ci
  .circleci/config.yml
  package.json
Labels: scope: repo

#16048 feat(repo): add brew cache to preinstall step on nightly
  .github/workflows/e2e-matrix.yml
Labels: scope: repo

#16049 fix(linter): support ESM js imports in ast utils
  packages/eslint-plugin-nx/src/utils/ast-utils.ts
Labels: scope: linter

#16065 docs(nx-cloud): remove side-by-side usage for code
  docs/shared/angular-standalone-tutorial/1-code-generation.md
  docs/shared/angular-tutorial/1-code-generation.md
  docs/shared/react-standalone-tutorial/1-code-generation.md
  docs/shared/react-tutorial/1-code-generation.md
Labels: type: docs

#16067 docs(private-cloud): standalone image updates
  docs/nx-cloud/private/standalone.md
Labels: type: docs

#15984 docs(nx-cloud): update screenshots and information
  docs/nx-cloud/account/google-auth.md
  docs/nx-cloud/account/require-google-signin.webp
  docs/nx-cloud/private/auth-single-admin.md
  docs/nx-cloud/private/images/admin_hidden_login.png
  docs/nx-cloud/private/images/invite_members.png
  docs/nx-cloud/private/images/main-user-login.webp
  docs/nx-cloud/private/images/main_user_login.png
  docs/nx-cloud/reference/access-tokens.png
  docs/nx-cloud/reference/access-tokens.webp
  docs/nx-cloud/reference/config.md
  docs/nx-cloud/reference/server-api.md
  docs/nx-cloud/set-up/access-vcs-setup.png
  docs/nx-cloud/set-up/access-vcs-setup.webp
  docs/nx-cloud/set-up/add-bitbucket-cloud-repository.png
  docs/nx-cloud/set-up/add-bitbucket-cloud-repository.webp
  docs/nx-cloud/set-up/add-github-repository.png
  docs/nx-cloud/set-up/add-gitlab-repository.png
  docs/nx-cloud/set-up/add-gitlab-repository.webp
  docs/nx-cloud/set-up/bitbucket-cloud.md
  docs/nx-cloud/set-up/github.md
  docs/nx-cloud/set-up/gitlab.md
  docs/nx-cloud/set-up/override-gitlab-api-url.png
  docs/nx-cloud/set-up/record-commands.md
  docs/nx-cloud/set-up/record-format-check.png
  docs/nx-cloud/set-up/record-format-check.webp
  docs/nx-cloud/set-up/record-report.png
  docs/nx-cloud/set-up/record-report.webp
  docs/nx-cloud/set-up/use-bitbucket-cloud-app-password.png
  docs/nx-cloud/set-up/use-github-app-auth.png
  docs/nx-cloud/set-up/use-github-app-auth.webp
  docs/nx-cloud/set-up/use-github-pat-auth.png
  docs/nx-cloud/set-up/use-gitlab-pat-auth.png
Labels: type: docs

#16068 docs(node): Add recipe for deploying serverless functions to Netlify
  docs/generated/manifests/menus.json
  docs/generated/manifests/recipes.json
  docs/generated/manifests/tags.json
  docs/map.json
  docs/shared/recipes/deployment/node-server-fly-io.md
  docs/shared/recipes/deployment/node-serverless-functions-netlify.md
Labels: type: docs

#16103 docs(node): Add recipe for deploying AWS Lambda in Node.js
  docs/generated/manifests/menus.json
  docs/generated/manifests/recipes.json
  docs/generated/manifests/tags.json
  docs/map.json
  docs/shared/recipes/deployment/node-aws-lambda.md
  docs/shared/recipes/deployment/node-serverless-functions-netlify.md
Labels: type: docs

#16124 docs(testing): remove debug section in jest overview
  docs/generated/packages/jest/documents/overview.md
  docs/shared/packages/jest/jest-plugin.md
Labels: type: docs

#16137 docs(react): fix references to old --preset=react option
  docs/generated/packages/react/documents/overview.md
  docs/shared/packages/react/react-plugin.md
  docs/shared/recipes/set-up-a-new-workspace.md
Labels: type: docs

#16093 fix(testing): allow removing projects in standalone apps
  packages/workspace/src/generators/remove/lib/__fixtures__/jest-project.config.ts
  packages/workspace/src/generators/remove/lib/__fixtures__/jest.config.ts
  packages/workspace/src/generators/remove/lib/__snapshots__/update-jest-config.spec.ts.snap
  packages/workspace/src/generators/remove/lib/update-jest-config.spec.ts
  packages/workspace/src/generators/remove/lib/update-jest-config.ts
Labels: scope: testing tools

#16145 fix(core): fix "migrate-to-inputs" migration
  packages/nx/src/migrations/update-15-0-0/migrate-to-inputs.spec.ts
  packages/nx/src/migrations/update-15-0-0/migrate-to-inputs.ts
Labels: scope: core

#16115 feat(repo): report time of runs
  .github/workflows/e2e-matrix.yml
Labels: scope: repo

#16084 feat(core): deprecate implicitDependency in nx.json
  docs/shared/deprecated/global-implicit-dependencies.md
  packages/nx/src/config/nx-json.ts
  packages/nx/src/hasher/hasher.spec.ts
  packages/nx/src/hasher/hasher.ts
  packages/nx/src/project-graph/affected/affected-project-graph.ts
  packages/nx/src/project-graph/affected/locators/implicit-json-changes.spec.ts
  packages/nx/src/project-graph/affected/locators/implicit-json-changes.ts
  packages/nx/src/project-graph/affected/locators/npm-packages.spec.ts
  packages/nx/src/project-graph/affected/locators/workspace-projects.spec.ts
  packages/nx/src/project-graph/affected/locators/workspace-projects.ts
  packages/nx/src/utils/assert-workspace-validity.spec.ts
  packages/nx/src/utils/assert-workspace-validity.ts
Labels: scope: core

#16159 feat(storybook): make v7 default
  docs/generated/packages/angular/generators/storybook-configuration.json
  docs/generated/packages/react/generators/storybook-configuration.json
  docs/generated/packages/storybook/generators/configuration.json
  docs/generated/packages/storybook/generators/init.json
  packages/angular/src/generators/storybook-configuration/schema.json
  packages/angular/src/generators/storybook-configuration/storybook-configuration.spec.ts
  packages/react/src/generators/storybook-configuration/configuration.spec.ts
  packages/react/src/generators/storybook-configuration/schema.json
  packages/storybook/src/executors/build-storybook/build-storybook.impl.ts
  packages/storybook/src/executors/storybook/storybook.impl.ts
  packages/storybook/src/executors/utils.ts
  packages/storybook/src/generators/configuration/__snapshots__/configuration-nested.spec.ts.snap
  packages/storybook/src/generators/configuration/configuration-nested.spec.ts
  packages/storybook/src/generators/configuration/configuration-v7.spec.ts
  packages/storybook/src/generators/configuration/configuration.spec.ts
  packages/storybook/src/generators/configuration/configuration.ts
  packages/storybook/src/generators/configuration/schema.json
  packages/storybook/src/generators/init/schema.json
  packages/storybook/src/utils/utilities.ts
  packages/storybook/src/utils/versions.ts
Labels: target: next major version

#15445 fix(testing): correctly error with jest.mock for invalid filepaths
  packages/jest/plugins/resolver.ts
  scripts/patched-jest-resolver.js
Labels: scope: testing tools

#16165 fix(testing): merge reporter/coverage values from vite config
  e2e/vite/src/vite.test.ts
  packages/vite/src/executors/test/vitest.impl.ts
Labels: scope: testing tools, scope: js

#16021 docs(core): optimize entry pages
  CODEOWNERS
  docs/README.md
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx.json
  docs/map.json
  docs/shared/concepts/integrated-vs-package-based.md
  docs/shared/core-tutorial/01-create-blog.md
  docs/shared/getting-started/installation.md
  docs/shared/getting-started/intro.md
  docs/shared/getting-started/why-nx.md
  docs/shared/images/nx-architecture.svg
  docs/shared/migration/adding-to-monorepo.md
  docs/shared/npm-tutorial/integrated.md
  nx-dev/data-access-menu/src/lib/menu.utils.ts
  nx-dev/nx-dev/redirect-rules.config.js
  nx-dev/nx-dev/redirect-rules.config.spec.js
  packages/cra-to-nx/README.md
  packages/create-nx-workspace/src/utils/preset/point-to-tutorial-and-course.ts
Labels: type: docs

#16201 fix(node): update ts-jest config for jest 29
  packages/node/src/generators/e2e-project/files/cli/jest.config.ts__tmpl__
  packages/node/src/generators/e2e-project/files/server/common/jest.config.ts__tmpl__
Labels: scope: node, scope: testing tools

#15807 docs(core): split angular migrate guide
  docs/generated/manifests/menus.json
  docs/generated/manifests/recipes.json
  docs/map.json
  docs/shared/migration/angular-integrated.md
  docs/shared/migration/angular-manual.md
  docs/shared/migration/angular-multiple.md
  docs/shared/migration/migration-angular.md
Labels: type: docs

#16076 chore(expo): remove deprecated targets and expo-cli
  docs/generated/manifests/menus.json
  docs/generated/manifests/packages.json
  docs/generated/packages-metadata.json
  docs/generated/packages/expo/executors/start.json
  packages/expo/executors.json
  packages/expo/migrations.json
  packages/expo/src/executors/build-android/build-android.impl.ts
  packages/expo/src/executors/build-android/compat.ts
  packages/expo/src/executors/build-android/schema.d.ts
  packages/expo/src/executors/build-android/schema.json
  packages/expo/src/executors/build-ios/build-ios.impl.ts
  packages/expo/src/executors/build-ios/compat.ts
  packages/expo/src/executors/build-ios/schema.d.ts
  packages/expo/src/executors/build-ios/schema.json
  packages/expo/src/executors/build-status/build-status.impl.ts
  packages/expo/src/executors/build-status/compat.ts
  packages/expo/src/executors/build-status/schema.d.ts
  packages/expo/src/executors/build-status/schema.json
  packages/expo/src/executors/build-web/build-web.impl.ts
  packages/expo/src/executors/build-web/compat.ts
  packages/expo/src/executors/build-web/schema.d.ts
  packages/expo/src/executors/build-web/schema.json
  packages/expo/src/executors/publish-set/compat.ts
  packages/expo/src/executors/publish-set/publish-set.impl.ts
  packages/expo/src/executors/publish-set/schema.d.ts
  packages/expo/src/executors/publish-set/schema.json
  packages/expo/src/executors/publish/compat.ts
  packages/expo/src/executors/publish/publish.impl.ts
  packages/expo/src/executors/publish/schema.d.ts
  packages/expo/src/executors/publish/schema.json
  packages/expo/src/executors/rollback/compat.ts
  packages/expo/src/executors/rollback/rollback.impl.ts
  packages/expo/src/executors/rollback/schema.d.ts
  packages/expo/src/executors/rollback/schema.json
  packages/expo/src/executors/start/schema.d.ts
  packages/expo/src/executors/start/schema.json
  packages/expo/src/generators/application/lib/add-project.ts
  packages/expo/src/generators/init/init.ts
  packages/expo/src/migrations/update-15-8-3/change-webpack-to-metro.ts
  packages/expo/src/migrations/update-16-0-0/remove-deprecated-targets.ts
  packages/expo/src/utils/versions.ts
Labels: target: next major version

#16269 docs(testing): add info about getJestProjects()
  docs/generated/packages/jest/documents/overview.md
  docs/shared/packages/jest/jest-plugin.md
  packages/jest/src/utils/config/get-jest-projects.ts
Labels: type: docs, scope: testing tools

#16411 fix(testing): nullcheck polyfills in ng component testing
  packages/angular/plugins/component-testing.ts
Labels: scope: testing tools, scope: angular

#16394 feat(testing): export cypressE2EConfigurationGenerator
  packages/cypress/index.ts
Labels: scope: testing tools

#16317 feat(nextjs): Add standalone Nextjs option to react selection when running CNW
  docs/generated/cli/create-nx-workspace.md
  docs/generated/packages/next/generators/application.json
  docs/generated/packages/next/generators/init.json
  docs/generated/packages/nx/documents/create-nx-workspace.md
  docs/generated/packages/workspace/generators/new.json
  docs/generated/packages/workspace/generators/preset.json
  e2e/next/src/next.test.ts
  packages/create-nx-workspace/bin/create-nx-workspace.ts
  packages/create-nx-workspace/src/utils/preset/point-to-tutorial-and-course.ts
  packages/create-nx-workspace/src/utils/preset/preset.ts
  packages/next/src/generators/application/files/app/page.tsx__tmpl__
  packages/next/src/generators/application/files/common/__dot__babelrc
  packages/next/src/generators/application/files/common/tsconfig.json__tmpl__
  packages/next/src/generators/application/lib/add-cypress.ts
  packages/next/src/generators/application/lib/create-application-files.ts
  packages/next/src/generators/application/lib/normalize-options.ts
  packages/next/src/generators/application/schema.d.ts
  packages/next/src/generators/application/schema.json
  packages/next/src/generators/init/init.ts
  packages/next/src/generators/init/schema.d.ts
  packages/next/src/generators/init/schema.json
  packages/workspace/src/generators/new/__snapshots__/generate-workspace-files.spec.ts.snap
  packages/workspace/src/generators/new/generate-preset.ts
  packages/workspace/src/generators/new/generate-workspace-files.spec.ts
  packages/workspace/src/generators/new/generate-workspace-files.ts
  packages/workspace/src/generators/new/new.ts
  packages/workspace/src/generators/new/schema.json
  packages/workspace/src/generators/preset/preset.ts
  packages/workspace/src/generators/preset/schema.d.ts
  packages/workspace/src/generators/preset/schema.json
  packages/workspace/src/generators/utils/presets.ts
Labels: scope: nextjs

#16465 fix(nextjs): output path for standalone apps
  packages/next/src/generators/application/lib/add-project.ts
  packages/next/src/generators/application/lib/create-application-files.ts
Labels: scope: nextjs

#16509 fix(nextjs): do not generate test for appDir page.tsx
  packages/next/src/generators/application/application.spec.ts
  packages/next/src/generators/application/lib/create-application-files.ts
Labels: scope: nextjs, scope: testing tools

#15962 fix(webpack): web app in default nx config not working with @aws-sdk
  packages/webpack/src/utils/with-web.ts
Labels: type: bug, scope: bundlers

#16565 docs(nx-cloud): add docs for disable nx cloud connection option in nx.json
  docs/nx-cloud/reference/config.md
Labels: type: docs

#16563 docs(misc): update community page nx-plugin links to the current url
  nx-dev/ui-community/src/lib/create-nx-plugin.tsx
Labels: type: docs

#16593 docs(nx-cloud): update azure pipelines example from issue feedback
  docs/shared/monorepo-ci-azure.md
Labels: type: docs

#16382 cleanup(testing): rename cypress-component-project to cypress-component-configuration
  docs/generated/manifests/menus.json
  docs/generated/manifests/packages.json
  docs/generated/packages-metadata.json
  docs/generated/packages/cypress/generators/cypress-component-configuration.json
  docs/generated/packages/react/generators/cypress-component-configuration.json
  packages/angular/src/generators/cypress-component-configuration/cypress-component-configuration.ts
  packages/cypress/docs/cypress-component-configuration-examples.md
  packages/cypress/generators.json
  packages/cypress/index.ts
  packages/cypress/src/generators/cypress-component-configuration/__snapshots__/cypress-component-configuration.spec.ts.snap
  packages/cypress/src/generators/cypress-component-configuration/cypress-component-configuration.spec.ts
  packages/cypress/src/generators/cypress-component-configuration/cypress-component-configuration.ts
  packages/cypress/src/generators/cypress-component-configuration/files/cypress.config.ts__ext__
  packages/cypress/src/generators/cypress-component-configuration/files/cypress/fixtures/example.json
  packages/cypress/src/generators/cypress-component-configuration/files/cypress/support/commands.ts__ext__
  packages/cypress/src/generators/cypress-component-configuration/files/cypress/support/component-index.html
  packages/cypress/src/generators/cypress-component-configuration/files/cypress/support/component.ts__ext__
  packages/cypress/src/generators/cypress-component-configuration/files/cypress/tsconfig.cy.json
  packages/cypress/src/generators/cypress-component-configuration/schema.d.ts
  packages/cypress/src/generators/cypress-component-configuration/schema.json
  packages/cypress/src/migrations/update-15-0-0/update-cy-mount-usage.spec.ts
  packages/cypress/src/migrations/update-15-1-0/cypress-11.spec.ts
  packages/next/src/generators/cypress-component-configuration/cypress-component-configuration.ts
  packages/react/docs/cypress-component-configuration-examples.md
  packages/react/src/generators/cypress-component-configuration/cypress-component-configuration.ts
Labels: scope: testing tools

#16641 docs(testing): add example of extending CT preset
  docs/generated/packages/cypress/documents/cypress-component-testing.md
  docs/shared/packages/cypress/cypress-component-testing.md
Labels: type: docs, scope: testing tools

#16475 fix(testing): fix react CT w/ vite and dependant projects
  e2e/react-extensions/src/cypress-component-tests.test.ts
  packages/react/plugins/component-testing/index.ts
  packages/react/src/generators/cypress-component-configuration/lib/add-files.ts
  scripts/depcheck/missing.ts
Labels: scope: testing tools

#16653 fix(core): have child process exit properly in case of error
  packages/nx/src/executors/run-commands/run-commands.impl.spec.ts
  packages/nx/src/executors/run-commands/run-commands.impl.ts
Labels: scope: core
