Repository nrwl/nx, pull requests merged in 2024-09, with the labels that each got.

#27776 fix(nx-dev): make sure graph height works and render mode is nx-docs
  nx-dev/ui-markdoc/src/lib/tags/graph.component.tsx
  package.json
  pnpm-lock.yaml
Labels: scope: docs

#27227 docs(nx-cloud): add new page for PATs and emphasise Access Tokens are for CI
  docs/generated/cli/login.md
  docs/generated/cli/logout.md
  docs/generated/manifests/ci.json
  docs/generated/manifests/menus.json
  docs/generated/packages/nx/documents/login.md
  docs/generated/packages/nx/documents/logout.md
  docs/map.json
  docs/nx-cloud/concepts/cache-security.md
  docs/nx-cloud/recipes/access-tokens.md
  docs/nx-cloud/recipes/personal-access-tokens.md
  docs/nx-cloud/reference/config.md
  docs/nx-cloud/reference/nx-cloud-cli.md
  docs/shared/migration/from-turborepo.md
  docs/shared/reference/sitemap.md
  packages/nx/src/command-line/login/command-object.ts
  packages/nx/src/command-line/logout/command-object.ts
Labels: scope: docs

#27898 docs(nx-cloud): update azure saml setup
  docs/nx-cloud/enterprise/on-premise/auth-saml.md
  docs/nx-cloud/enterprise/on-premise/images/saml/azure_12.png
  docs/nx-cloud/enterprise/on-premise/images/saml/azure_13.png
  docs/nx-cloud/enterprise/on-premise/images/saml/azure_14.png
  docs/nx-cloud/enterprise/on-premise/images/saml/azure_15.png
Labels: scope: docs

#27942 fix(react): Add historyApiFallback to webpack config
  packages/react/src/generators/application/__snapshots__/application.spec.ts.snap
  packages/react/src/generators/application/files/base-webpack/webpack.config.js__tmpl__
Labels: scope: react

#28077 docs(nx-cloud): update access tokens recipe with new screenshot and link
  docs/nx-cloud/recipes/access-control-settings.avif
  docs/nx-cloud/recipes/access-tokens.md
  docs/nx-cloud/recipes/ci-access-tokens-settings.avif
Labels: type: docs

#28176 fix(nx-dev): Update Power pack docs to include OSS projects
  docs/blog/2024-09-25-evolving-nx.md
  docs/blog/2024-09-25-introducing-nx-powerpack.md
Labels: scope: docs

#27597 fix(nx-dev): Blog url
  docs/blog/2024-05-08-nx-19-release.md
Labels: scope: docs
