Repository nrwl/nx, pull requests merged in 2024-02, with the labels that each got.

#21625 fix(nextjs): Enable next e2e test
  e2e/next-core/src/next-appdir.test.ts
  e2e/next-core/src/next-legacy.test.ts
Labels: scope: nextjs

#21761 fix(nextjs): Svg should work when svgr is true in next config
  packages/next/plugins/with-nx.ts
Labels: scope: nextjs

#21762 docs(nx-cloud): update CI/CD examples on DTE page
  docs/shared/features/distribute-task-execution.md
Labels: type: docs

#21788 docs(nx-cloud): correct launch template example
  docs/nx-cloud/reference/launch-templates.md
Labels: type: docs

#22003 fix(node): Increase timeout for CI
  e2e/node/src/node-webpack.test.ts
Labels: scope: node

#22005 docs(nextjs): Update nextjs deployment with Crystal
  docs/shared/recipes/deployment/deploy-nextjs-to-vercel.md
Labels: scope: nextjs, scope: docs
