Repository nrwl/nx, pull requests merged in 2024-12, with the labels that each got.

#29150 docs(core): update e2e-ci glob example
  docs/shared/reference/nx-json.md
Labels: type: docs

#29175 fix(react): None buildable libs should not have a build target
  e2e/react/src/react.test.ts
  packages/react/src/generators/library/library.ts
Labels: scope: react

#29227 fix(core): Update bundlers to not typecheck if using new TS solution setup
  packages/esbuild/src/executors/esbuild/esbuild.impl.ts
  packages/esbuild/src/executors/esbuild/lib/normalize.spec.ts
  packages/esbuild/src/executors/esbuild/lib/normalize.ts
  packages/esbuild/src/executors/esbuild/schema.d.ts
  packages/js/src/executors/swc/swc.impl.ts
  packages/js/src/generators/library/library.ts
  packages/js/src/utils/package-manager-workspaces.ts
  packages/js/src/utils/swc/compile-swc.ts
  packages/rollup/src/executors/rollup/lib/normalize.ts
  packages/rollup/src/plugins/with-nx/normalize-options.ts
  packages/rspack/src/plugins/utils/apply-base-config.ts
  packages/vite/src/executors/build/build.impl.ts
  packages/webpack/src/plugins/nx-webpack-plugin/lib/apply-base-config.ts
Labels: scope: bundlers

#29202 fix(core): Adding react apps/libs to workspaces so they can be referenced.
  e2e/expo/src/expo-legacy.test.ts
  e2e/expo/src/expo.test.ts
  e2e/react/src/react.test.ts
  e2e/utils/create-project-utils.ts
  packages/expo/src/generators/application/application.ts
  packages/expo/src/generators/library/library.ts
  packages/js/src/utils/typescript/ts-solution-setup.ts
  packages/next/src/generators/application/application.ts
  packages/next/src/generators/library/lib/normalize-options.ts
  packages/next/src/generators/library/library.ts
  packages/react-native/src/generators/application/application.ts
  packages/react-native/src/generators/library/library.ts
  packages/react/src/generators/application/application.spec.ts
  packages/react/src/generators/application/application.ts
  packages/react/src/generators/library/lib/normalize-options.ts
  packages/react/src/generators/library/library.spec.ts
  packages/react/src/generators/library/library.ts
  packages/remix/src/generators/application/application.impl.ts
  packages/remix/src/generators/library/lib/normalize-options.ts
  packages/remix/src/generators/library/library.impl.ts
  packages/workspace/src/generators/new/generate-workspace-files.spec.ts
  packages/workspace/src/generators/new/generate-workspace-files.ts
Labels: scope: react
