Repository nrwl/nx, pull requests merged in 2024-05, with the labels that each got.

#23146 docs(nx-cloud): warn about rate limiting with ADO integration
  docs/nx-cloud/set-up/azure-devops.md
Labels: scope: docs

#23116 docs(nx-cloud): document arm resource classes
  docs/nx-cloud/reference/launch-templates.md
Labels: type: docs

#23156 docs(nx-cloud): add to launch templates documentation
  docs/nx-cloud/reference/launch-templates.md
Labels: type: docs

#23100 fix(module-federation): Throw an error if remote is invalid
  packages/angular/src/generators/host/host.spec.ts
  packages/angular/src/generators/host/host.ts
  packages/js/src/index.ts
  packages/js/src/utils/is-valid-variable.ts
  packages/react/src/generators/host/host.spec.ts
  packages/react/src/generators/host/host.ts
  packages/react/src/generators/remote/remote.spec.ts
  packages/react/src/generators/remote/remote.ts
Labels: scope: react, scope: angular

#23355 Fix/nx dev header enterprise
  nx-dev/ui-common/src/lib/headers/header.tsx
Labels: scope: docs

#23313 feat(nextjs): Update Next & Tailwindcss Package
  packages/next/migrations.json
  packages/next/src/utils/versions.ts
  packages/react/migrations.json
  packages/react/src/utils/versions.ts
Labels: scope: nextjs

#23383 fix(react): respect unitTestRunner passed to the generator
  e2e/nx-init/src/nx-init-react.test.ts
  e2e/react/src/react-vite.test.ts
  e2e/web/src/web-vite.test.ts
  packages/react/src/generators/application/__snapshots__/application.legacy.spec.ts.snap
  packages/react/src/generators/application/__snapshots__/application.spec.ts.snap
  packages/react/src/generators/application/lib/normalize-options.ts
  packages/web/src/generators/application/application.legacy.spec.ts
  packages/web/src/generators/application/application.spec.ts
  packages/web/src/generators/application/application.ts
Labels: scope: react

#23422 fix(core): remove duplicate `js-yaml` packages
  e2e/utils/create-project-utils.ts
  package.json
  packages/eslint/.eslintrc.json
  packages/eslint/package.json
  packages/nx/.eslintrc.json
  packages/nx/package.json
  packages/nx/src/command-line/release/utils/github.ts
  packages/nx/src/plugins/js/lock-file/utils/pnpm-normalizer.ts
  pnpm-lock.yaml
Labels: type: enhancement, scope: core

#22602 feat(core): add bun package manager
  docs/generated/cli/create-nx-workspace.md
  docs/generated/devkit/PackageManager.md
  docs/generated/packages/nx/documents/create-nx-workspace.md
  docs/generated/packages/workspace/generators/new.json
  docs/generated/packages/workspace/generators/preset.json
  e2e/utils/command-utils.ts
  e2e/utils/create-project-utils.ts
  e2e/utils/get-env-info.ts
  e2e/workspace-create/src/create-nx-workspace.test.ts
  packages/create-nx-workspace/src/internal-utils/prompts.ts
  packages/create-nx-workspace/src/utils/nx/ab-testing.ts
  packages/create-nx-workspace/src/utils/package-manager.ts
  packages/expo/src/generators/application/lib/create-application-files.ts
  packages/expo/src/migrations/update-16-1-4/update-eas-scripts.ts
  packages/nx/schemas/nx-schema.json
  packages/nx/src/command-line/init/implementation/react/index.ts
  packages/nx/src/plugins/js/index.ts
  packages/nx/src/plugins/js/lock-file/lock-file.ts
  packages/nx/src/utils/ab-testing.ts
  packages/nx/src/utils/package-manager.spec.ts
  packages/nx/src/utils/package-manager.ts
  packages/workspace/src/generators/ci-workflow/__snapshots__/ci-workflow.spec.ts.snap
  packages/workspace/src/generators/ci-workflow/ci-workflow.spec.ts
  packages/workspace/src/generators/ci-workflow/files/azure/azure-pipelines.yml__tmpl__
  packages/workspace/src/generators/ci-workflow/files/bitbucket-pipelines/bitbucket-pipelines.yml__tmpl__
  packages/workspace/src/generators/ci-workflow/files/circleci/.circleci/config.yml__tmpl__
  packages/workspace/src/generators/ci-workflow/files/github/.github/workflows/__workflowFileName__.yml__tmpl__
  packages/workspace/src/generators/ci-workflow/files/gitlab/.gitlab-ci.yml__tmpl__
  packages/workspace/src/generators/new/files-package-based-repo/packages/__dot__gitkeep
  packages/workspace/src/generators/new/schema.json
  packages/workspace/src/generators/preset/schema.json
  scripts/check-lock-files.js
Labels: type: feature

#25939 feat(nx-dev): Add more blogs
  docs/blog/2023-04-19-nx-cloud-3.md
  docs/blog/2023-06-29-nx-console-gets-lit.md
  docs/blog/2023-09-25-nx-raises.md
  docs/blog/2023-10-13-nx-conf-2023-recap.md
  docs/blog/2023-11-08-state-management.md
  docs/blog/2023-11-21-ai-assistant.md
  docs/blog/2023-11-22-unit-testing-expo.md
  docs/blog/2023-12-20-nx-17-2-release.md
  docs/blog/2024-02-05-nx-18-project-crystal.md
  docs/blog/2024-02-06-nuxt-js-support-in-nx.md
  docs/blog/2024-02-07-fast-effortless-ci.md
  docs/blog/2024-02-15-launch-week-recap.md
  docs/blog/2024-03-20-why-speed-matters.md
  docs/blog/2024-03-21-reliable-ci.md
  docs/blog/2024-04-19-manage-your-gradle.md
  docs/blog/2024-05-08-nx-19-release.md
  docs/blog/authors.json
  docs/blog/images/2023-09-25/featured_img.webp
  docs/blog/images/2023-11-08/bodyimg1.webp
  docs/blog/images/2023-11-08/bodyimg10.webp
  docs/blog/images/2023-11-08/bodyimg11.webp
  docs/blog/images/2023-11-08/bodyimg2.webp
  docs/blog/images/2023-11-08/bodyimg3.webp
  docs/blog/images/2023-11-08/bodyimg4.webp
  docs/blog/images/2023-11-08/bodyimg5.webp
  docs/blog/images/2023-11-08/bodyimg6.webp
  docs/blog/images/2023-11-08/bodyimg7.webp
  docs/blog/images/2023-11-08/bodyimg8.webp
  docs/blog/images/2023-11-08/bodyimg9.webp
  docs/blog/images/2023-11-08/featured_img.webp
  docs/blog/images/2023-11-21/featured_img.webp
  docs/blog/images/authors/Jeff Cross.jpeg
  nx-dev/ui-blog/src/lib/author-detail.tsx
  nx-dev/ui-blog/src/lib/blog-details.tsx
  nx-dev/ui-blog/src/lib/blog-entry.tsx
  nx-dev/ui-common/src/lib/footer.tsx
Labels: scope: docs

#26040 fix(nx-dev): Remove ToC from CI releases page
  nx-dev/feature-doc-viewer/src/lib/doc-viewer.tsx
Labels: scope: docs

#22906 feat(core): add support for pnpm lockfile v9
  .github/workflows/e2e-matrix.yml
  .github/workflows/generate-embeddings.yml
  .github/workflows/issue-notifier.yml
  .github/workflows/npm-audit.yml
  .nx/workflows/agents.yaml
  package.json
  packages/nx/src/plugins/js/lock-file/__fixtures__/auxiliary-packages/pnpm-lock.yaml.pruned.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/mixed-keys/pnpm-lock-v9.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pnpm-regression/.modules.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pnpm-regression/package.json
  packages/nx/src/plugins/js/lock-file/__fixtures__/pnpm-regression/pnpm-lock.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pnpm-regression/pruned-pnpm-lock.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pruning/devkit-yargs/pnpm-lock-v9.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pruning/pnpm-lock-v9.yaml.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/pruning/typescript/pnpm-lock-v9.yaml.ts
  packages/nx/src/plugins/js/lock-file/pnpm-parser.spec.ts
  packages/nx/src/plugins/js/lock-file/pnpm-parser.ts
  packages/nx/src/plugins/js/lock-file/utils/pnpm-normalizer.ts
  pnpm-lock.yaml
Labels: scope: core
