Repository nrwl/nx, pull requests merged in 2024-08, with the labels that each got.

#27197 feat(nx-cloud): add nxCloudId field for auth
  docs/generated/devkit/NxJsonConfiguration.md
  docs/generated/devkit/Workspace.md
  packages/nx/schemas/nx-schema.json
  packages/nx/src/adapter/compat.ts
  packages/nx/src/command-line/connect/connect-to-nx-cloud.spec.ts
  packages/nx/src/command-line/connect/connect-to-nx-cloud.ts
  packages/nx/src/config/nx-json.ts
  packages/nx/src/nx-cloud/generators/connect-to-nx-cloud/connect-to-nx-cloud.ts
  packages/nx/src/nx-cloud/nx-cloud-tasks-runner-shell.ts
  packages/nx/src/nx-cloud/utilities/axios.ts
  packages/nx/src/tasks-runner/run-command.spec.ts
  packages/nx/src/tasks-runner/run-command.ts
  packages/nx/src/utils/nx-cloud-utils.ts
Labels: scope: nx-cloud

#27356 fix(nx-cloud): add nxCloudId to nxJson when connecting with generator
  packages/nx/src/nx-cloud/generators/connect-to-nx-cloud/connect-to-nx-cloud.ts
Labels: scope: nx-cloud

#27345 feat(module-federation): Update SSR enabling static serving for remotes
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx-api.json
  docs/generated/packages-metadata.json
  docs/generated/packages/angular/executors/module-federation-dev-ssr.json
  docs/generated/packages/react/executors/module-federation-ssr-dev-server.json
  docs/shared/reference/sitemap.md
  e2e/angular/src/module-federation.test.ts
  e2e/react/src/react-module-federation.test.ts
  packages/angular/executors.json
  packages/angular/executors.ts
  packages/angular/src/builders/module-federation-dev-ssr/module-federation-dev-ssr.impl.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/lib/build-static-remotes.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/lib/normalize-options.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/lib/start-dev-remotes.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/lib/start-static-remotes.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/module-federation-ssr-dev-server.impl.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/schema.d.ts
  packages/angular/src/executors/module-federation-ssr-dev-server/schema.json
  packages/react/src/executors/module-federation-dev-server/module-federation-dev-server.impl.ts
  packages/react/src/executors/module-federation-ssr-dev-server/module-federation-ssr-dev-server.impl.ts
  packages/react/src/executors/module-federation-ssr-dev-server/schema.json
  packages/react/src/generators/host/files/module-federation-ssr-ts/server.ts__tmpl__
  packages/react/src/generators/host/files/module-federation-ssr/server.ts__tmpl__
  packages/react/src/generators/host/lib/setup-ssr-for-host.ts
  packages/react/src/generators/remote/files/module-federation-ssr-ts/server.ts__tmpl__
  packages/react/src/generators/remote/files/module-federation-ssr/server.ts__tmpl__
  packages/react/src/generators/remote/lib/setup-ssr-for-remote.ts
  packages/react/src/generators/setup-ssr/files/server.ts__tmpl__
  packages/react/src/generators/setup-ssr/setup-ssr.ts
  packages/webpack/src/executors/dev-server/dev-server.impl.ts
  packages/webpack/src/executors/ssr-dev-server/ssr-dev-server.impl.ts
  packages/webpack/src/utils/module-federation/get-remotes-for-host.ts
  packages/webpack/src/utils/module-federation/parse-static-remotes-config.ts
  packages/webpack/src/utils/module-federation/start-ssr-remote-proxies.ts
Labels: scope: module federation

#27445 Fix(webpack): If the style path is relative do not normalize
  packages/webpack/src/plugins/nx-webpack-plugin/lib/apply-web-config.ts
Labels: scope: bundlers

#27523 fix(nextjs): should not fail when running outside of nx cli
  packages/next/plugins/with-nx.ts
Labels: scope: nextjs

#27358 feat(nx-cloud): alias for login and logout
  docs/generated/cli/login.md
  docs/generated/cli/logout.md
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx-api.json
  docs/generated/packages-metadata.json
  docs/generated/packages/nx/documents/login.md
  docs/generated/packages/nx/documents/logout.md
  docs/map.json
  docs/shared/reference/sitemap.md
  packages/nx/src/command-line/connect/connect-to-nx-cloud.ts
  packages/nx/src/command-line/login/command-object.ts
  packages/nx/src/command-line/login/login.ts
  packages/nx/src/command-line/logout/command-object.ts
  packages/nx/src/command-line/logout/logout.ts
  packages/nx/src/command-line/nx-commands.ts
  packages/nx/src/nx-cloud/utilities/axios.ts
  packages/nx/src/tasks-runner/run-command.ts
Labels: scope: nx-cloud
