Repository nrwl/nx, pull requests merged in 2024-06, with the labels that each got.

#22675 fix(nextjs): enable failing storybook tests
  .circleci/config.yml
  .nx/workflows/agents.yaml
  e2e/next/src/next-storybook.test.ts
Labels: scope: nextjs

#26365 feat(node): Add output path to setup docker
  docs/generated/packages/node/generators/setup-docker.json
  packages/node/src/generators/application/application.ts
  packages/node/src/generators/setup-docker/schema.d.ts
  packages/node/src/generators/setup-docker/schema.json
  packages/node/src/generators/setup-docker/setup-docker.spec.ts
  packages/node/src/generators/setup-docker/setup-docker.ts
Labels: scope: node

#26608 fix(nx-dev): allow linking to headers that are `code` wrapped
  nx-dev/ui-markdoc/src/lib/nodes/heading.schema.spec.ts
  nx-dev/ui-markdoc/src/lib/nodes/heading.schema.ts
Labels: type: docs

#26516 feat(webpack): add convertConfigToWebpackPlugin
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx-api.json
  docs/generated/packages-metadata.json
  docs/generated/packages/webpack/generators/convert-config-to-webpack-plugin.json
  docs/shared/reference/sitemap.md
  e2e/webpack/src/__snapshots__/webpack.legacy.test.ts.snap
  e2e/webpack/src/webpack.legacy.test.ts
  packages/webpack/generators.json
  packages/webpack/index.ts
  packages/webpack/package.json
  packages/webpack/src/executors/dev-server/dev-server.impl.ts
  packages/webpack/src/executors/webpack/webpack.impl.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/convert-config-to-webpack-plugin.spec.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/convert-config-to-webpack-plugin.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/lib/extract-webpack-options.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/lib/normalize-path-options.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/lib/utils.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/lib/validate-project.ts
  packages/webpack/src/generators/convert-config-to-webpack-plugin/schema.json
  packages/webpack/src/plugins/nx-webpack-plugin/lib/apply-web-config.ts
  packages/webpack/src/plugins/nx-webpack-plugin/lib/normalize-options.ts
  packages/webpack/src/plugins/use-legacy-nx-plugin/use-legacy-nx-plugin.ts
Labels: scope: bundlers

#26712 fix(nx-cloud): do not use bff api for onboarding
  packages/nx/src/nx-cloud/utilities/url-shorten.ts
Labels: scope: nx-cloud

#26757 docs(nx-cloud): improve launch template docs with new image release
  docs/nx-cloud/reference/launch-templates.md
Labels: type: docs, scope: nx-cloud
