Repository nrwl/nx, pull requests merged in 2025-09, with the labels that each got.

#32584 docs(nx-dev): add missing info to 2025.07.1 release notes
  docs/nx-cloud/reference/release-notes.md
Labels: type: docs

#32602 docs(nx-cloud): update description of `neverConnectToCloud`
  astro-docs/src/content/docs/reference/config.mdoc
  docs/nx-cloud/reference/config.md
  packages/nx/schemas/nx-schema.json
Labels: type: docs

#32608 fix(vite): handle config server properly for libs
  packages/vite/src/plugins/plugin.spec.ts
  packages/vite/src/plugins/plugin.ts
  packages/vite/src/utils/executor-utils.ts
Labels: type: bug, priority: high

#32722 docs(nx-dev): update self-healing ci supported vcs providers
  astro-docs/src/content/docs/features/CI Features/self-healing-ci.mdoc
  docs/shared/features/self-healing-ci.md
Labels: type: docs

#32746 docs(nx-dev): make sure ToC doesn't overflow page and is scrollable
  astro-docs/astro.config.mjs
  astro-docs/src/components/layout/TableOfContents.astro
  astro-docs/src/components/layout/TableOfContentsList.astro
Labels: type: docs

#32760 docs(nx-dev): small clean up items for styling and content
  astro-docs/src/content/docs/getting-started/installation.mdoc
  astro-docs/src/content/docs/getting-started/nx-cloud.mdoc
  docs/nx-cloud/getting-started/intro.md
  nx-dev/ui-common/src/lib/footer.tsx
  nx-dev/ui-markdoc/src/lib/tags/graph.component.tsx
Labels: type: docs

#32777 docs(nx-dev): fix broken blog/img links
  astro-docs/src/assets/nx-cloud/agents.webp
  astro-docs/src/assets/nx-cloud/analytics_screen.webp
  astro-docs/src/assets/nx-cloud/cipe_screen.webp
  astro-docs/src/assets/nx-cloud/cipe_top.webp
  astro-docs/src/assets/nx-cloud/new_github_comment.png
  astro-docs/src/assets/nx-cloud/nx-cloud-ttg-stats.avif
  astro-docs/src/assets/nx-console/generator-options-ui.png
  astro-docs/src/content/docs/extending-nx/organization-specific-plugin.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/optimize-your-ttg.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/release-notes.mdoc
Labels: type: docs

#32812 docs(nx-dev): sync content from docs/ into astro docs
  astro-docs/src/content/docs/technologies/module-federation/Guides/nx-module-federation-plugin.mdoc
Labels: type: docs

#32844 docs(nx-dev): explain how to correctly re-run jobs with manual DTE
  astro-docs/src/content/docs/guides/Nx Cloud/manual-dte.mdoc
  docs/nx-cloud/enterprise/dte/azure-dte.md
  docs/nx-cloud/enterprise/dte/bitbucket-dte.md
  docs/nx-cloud/enterprise/dte/circle-ci-dte.md
  docs/nx-cloud/enterprise/dte/github-dte.md
  docs/nx-cloud/enterprise/dte/gitlab-dte.md
  docs/nx-cloud/enterprise/dte/jenkins-dte.md
Labels: type: docs

#32766 feat(core): improve split target
  packages/nx/src/command-line/run/run-one.ts
  packages/nx/src/tasks-runner/utils.spec.ts
  packages/nx/src/tasks-runner/utils.ts
  packages/nx/src/utils/split-target.spec.ts
  packages/nx/src/utils/split-target.ts
Labels: scope: core

#32583 feat(core): add id, start and end time to lifecycle hooks
  packages/nx/src/command-line/release/publish.ts
  packages/nx/src/project-graph/plugins/loaded-nx-plugin.ts
  packages/nx/src/project-graph/plugins/public-api.ts
  packages/nx/src/tasks-runner/life-cycle.ts
  packages/nx/src/tasks-runner/run-command.ts
Labels: scope: core

#32908 docs(nx-dev): require description for doc pages
  astro-docs/src/content.config.ts
  astro-docs/src/content/docs/concepts/CI Concepts/ai-features.mdoc
  astro-docs/src/content/docs/concepts/CI Concepts/building-blocks-fast-ci.mdoc
  astro-docs/src/content/docs/concepts/CI Concepts/cache-security.mdoc
  astro-docs/src/content/docs/concepts/CI Concepts/heartbeat-and-manual-shutdown-handling.mdoc
  astro-docs/src/content/docs/concepts/CI Concepts/parallelization-distribution.mdoc
  astro-docs/src/content/docs/concepts/CI Concepts/reduce-waste.mdoc
  astro-docs/src/content/docs/enterprise/Powerpack/configure-conformance-rules-in-nx-cloud.mdoc
  astro-docs/src/content/docs/enterprise/Powerpack/publish-conformance-rules-to-nx-cloud.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/auth-bitbucket-data-center.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/auth-bitbucket.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/auth-github.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/auth-gitlab.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/auth-saml.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/custom-github-app.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/overview.mdoc
  astro-docs/src/content/docs/features/CI Features/dynamic-agents.mdoc
  astro-docs/src/content/docs/features/CI Features/explain-with-ai.mdoc
  astro-docs/src/content/docs/features/CI Features/flaky-tasks.mdoc
  astro-docs/src/content/docs/features/CI Features/github-integration.mdoc
  astro-docs/src/content/docs/features/CI Features/split-e2e-tasks.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/access-tokens.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/encryption.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/google-auth.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/personal-access-tokens.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/assignment-rules.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/credits-pricing.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/custom-images.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/custom-steps.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/Generators.mdoc
  astro-docs/src/content/docs/reference/Powerpack/owners/Generators.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/shared-fs-cache/Generators.mdoc
  astro-docs/src/content/docs/troubleshooting/ci-execution-failed.mdoc
  astro-docs/src/plugins/utils/devkit-generation.ts
Labels: type: docs
