Repository nrwl/nx, pull requests merged in 2025-01, with the labels that each got.

#29513 fix(nx-dev): Quote typo
  nx-dev/ui-enterprise/src/lib/hetzner-cloud-testimonial.tsx
Labels: scope: docs

#29586 feat(graph): update headlessui v2
  graph/ui-theme/src/lib/theme-panel.tsx
  nx-dev/feature-feedback/src/lib/feedback-dialog.tsx
  nx-dev/ui-blog/src/lib/filters.tsx
  nx-dev/ui-cloud/src/lib/hero.tsx
  nx-dev/ui-common/src/lib/headers/documentation-header.tsx
  nx-dev/ui-common/src/lib/headers/header.tsx
  nx-dev/ui-common/src/lib/sidebar.tsx
  nx-dev/ui-common/src/lib/version-picker.tsx
  nx-dev/ui-customers/src/lib/customer-testimonial-carousel.tsx
  nx-dev/ui-enterprise/src/lib/video-modal.tsx
  nx-dev/ui-fence/src/lib/selector.tsx
  nx-dev/ui-home/src/lib/ci-for-monorepos.tsx
  nx-dev/ui-powerpack/src/lib/hero.tsx
  nx-dev/ui-pricing/src/lib/faq.tsx
  nx-dev/ui-theme/src/lib/theme-switcher.component.tsx
  package.json
  pnpm-lock.yaml
Labels: scope: misc

#29490 docs(nx-cloud): use assignment rules with self provisioned agents
  docs/nx-cloud/features/dynamic-agents.md
  docs/nx-cloud/reference/assignment-rules.md
Labels: type: docs

#29733 feat(rspack): non-inferred targets should work OOTB
  e2e/react/src/react-rspack.test.ts
  e2e/react/src/react.test.ts
  packages/rspack/src/utils/generator-utils.ts
Labels: scope: react
