Repository nrwl/nx, pull requests merged in 2025-08, with the labels that each got.

#32181 docs(nx-dev): move over concept docs to astro
  .gitattributes
  astro-docs/src/content/docs/concepts/Decisions/code-ownership.mdoc
  astro-docs/src/content/docs/concepts/Decisions/dependency-management.mdoc
  astro-docs/src/content/docs/concepts/Decisions/folder-structure.mdoc
  astro-docs/src/content/docs/concepts/Decisions/overview.mdoc
  astro-docs/src/content/docs/concepts/Decisions/project-dependency-rules.mdoc
  astro-docs/src/content/docs/concepts/Decisions/project-size.mdoc
  astro-docs/src/content/docs/concepts/Decisions/why-monorepos.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/dep-graph-2.png
  astro-docs/src/content/docs/concepts/Module Federation/faster-builds.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/manage-library-versions-with-module-federation.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/mfe-dep-graph.png
  astro-docs/src/content/docs/concepts/Module Federation/micro-frontend-architecture.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/module-federation-and-nx.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/module-federation-host-serve-light.png
  astro-docs/src/content/docs/concepts/Module Federation/nx-cloud.png
  astro-docs/src/content/docs/concepts/Module Federation/nx-library-version.png
  astro-docs/src/content/docs/concepts/Module Federation/nx-module-federation-technical-overview.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/pull-request.png
  astro-docs/src/content/docs/concepts/Module Federation/shared-api.png
  astro-docs/src/content/docs/concepts/buildable-and-publishable-libraries.mdoc
  astro-docs/src/content/docs/concepts/common-tasks.mdoc
  astro-docs/src/content/docs/concepts/daemon.mdoc
  astro-docs/src/content/docs/concepts/executors-and-configurations.mdoc
  astro-docs/src/content/docs/concepts/how-caching-works.mdoc
  astro-docs/src/content/docs/concepts/images/caching/cache-terminal-animation.mp4
  astro-docs/src/content/docs/concepts/images/caching/cache.png
  astro-docs/src/content/docs/concepts/images/caching/cache.svg
  astro-docs/src/content/docs/concepts/images/caching/distributed-caching.svg
  astro-docs/src/content/docs/concepts/images/caching/nx-hashing.png
  astro-docs/src/content/docs/concepts/images/caching/nx-hashing.svg
  astro-docs/src/content/docs/concepts/images/caching/task-graph-big.png
  astro-docs/src/content/docs/concepts/images/caching/task-graph-big.svg
  astro-docs/src/content/docs/concepts/images/mental-model/affected.json
  astro-docs/src/content/docs/concepts/images/mental-model/affected.svg
  astro-docs/src/content/docs/concepts/images/mental-model/cache.svg
  astro-docs/src/content/docs/concepts/images/mental-model/computation-hashing.svg
  astro-docs/src/content/docs/concepts/images/mental-model/connected-tasks.json
  astro-docs/src/content/docs/concepts/images/mental-model/disconnected-tasks.json
  astro-docs/src/content/docs/concepts/images/mental-model/dte.svg
  astro-docs/src/content/docs/concepts/images/mental-model/large-tasks.json
  astro-docs/src/content/docs/concepts/images/mental-model/metadata.png
  astro-docs/src/content/docs/concepts/images/mental-model/project-graph-updated.svg
  astro-docs/src/content/docs/concepts/images/mental-model/project-graph.svg
  astro-docs/src/content/docs/concepts/images/mental-model/single-task.json
  astro-docs/src/content/docs/concepts/images/mental-model/task-graph-execution.svg
  astro-docs/src/content/docs/concepts/images/mental-model/three-projects.json
  astro-docs/src/content/docs/concepts/inferred-target-config.png
  astro-docs/src/content/docs/concepts/inferred-tasks.mdoc
  astro-docs/src/content/docs/concepts/mental-model.mdoc
  astro-docs/src/content/docs/concepts/myreactapp.json
  astro-docs/src/content/docs/concepts/nx-media-monorepo.jpg
  astro-docs/src/content/docs/concepts/nx-plugins.mdoc
  astro-docs/src/content/docs/concepts/sync-generators.mdoc
  astro-docs/src/content/docs/concepts/task-pipeline-configuration.mdoc
  astro-docs/src/content/docs/concepts/turbo-nx-perf.gif
  astro-docs/src/content/docs/concepts/turbo-nx-terminal.gif
  astro-docs/src/content/docs/concepts/types-of-configuration.mdoc
  astro-docs/src/content/docs/concepts/typescript-project-linking.mdoc
Labels: type: docs

#32223 fix(js): handle npm 11 warnings in stderr during registry version resolution
  packages/js/src/release/version-actions.ts
Labels: scope: js

#32221 docs(misc): add examples pages to generated plugin pages
  astro-docs/src/plugins/plugin.loader.ts
  astro-docs/src/plugins/utils/generate-plugin-markdown.ts
  astro-docs/src/plugins/utils/get-schema-example-content.ts
  astro-docs/src/plugins/utils/plugin-schema-parser.ts
Labels: type: docs

#32242 docs(nx-cloud): update refs to old /ci/intro pages
  docs/generated/manifests/menus.json
  docs/generated/manifests/nx.json
  docs/generated/manifests/tags.json
  docs/map.json
  nx-dev/ui-common/src/lib/footer.tsx
  nx-dev/ui-common/src/lib/headers/documentation-header.tsx
  nx-dev/ui-common/src/lib/sidebar.tsx
  nx-dev/ui-enterprise/src/lib/solutions/management/cut-down-engineering-waste.tsx
  nx-dev/ui-enterprise/src/lib/solutions/platform/easy-to-adapt-easy-to-maintain.tsx
  nx-dev/ui-enterprise/src/lib/solutions/platform/reliable-by-design.tsx
  nx-dev/ui-home/src/lib/ci-for-monorepos.tsx
Labels: type: docs

#32183 docs(repo): add plugin registry to new docs site
  astro-docs/astro.config.mjs
  astro-docs/src/content.config.ts
  astro-docs/src/content/docs/concepts/Decisions/project-dependency-rules.mdoc
  astro-docs/src/pages/api/plugins/[plugin]/index.astro
  astro-docs/src/pages/api/plugins/[plugin]/migrations.astro
  astro-docs/src/pages/api/plugins/index.astro
  astro-docs/src/pages/plugin-registry.astro
  astro-docs/src/plugins/auto-plugin-sidebar.plugin.ts
  astro-docs/src/plugins/community-plugins.loader.ts
  astro-docs/src/plugins/plugin.loader.ts
  astro-docs/src/plugins/utils/plugin-stats.ts
  astro-docs/src/utils/formatters.ts
Labels: type: docs

#32232 docs(nx-dev): add CTA variants
  docs/shared/tutorials/angular-monorepo.md
  docs/shared/tutorials/gradle.md
  docs/shared/tutorials/react-monorepo.md
  docs/shared/tutorials/typescript-packages.md
  nx-dev/ui-markdoc/src/lib/tags/call-to-action.component.tsx
  nx-dev/ui-markdoc/src/lib/tags/call-to-action.schema.ts
Labels: type: docs

#32089 fix(nextjs): configure Jest to use tsconfig.json for Next.js apps
  packages/next/src/generators/application/application.spec.ts
  packages/next/src/generators/application/lib/add-jest.ts
Labels: scope: nextjs

#32249 docs(nx-cloud): fix typos and improve nx agent custom image docs
  docs/nx-cloud/reference/custom-images.md
Labels: type: docs

#31190 fix(release): adjust publish error message and version schema
  e2e/release/src/private-js-packages.test.ts
  packages/nx/schemas/nx-schema.json
  packages/nx/src/command-line/release/publish.ts
Labels: priority: medium

#31581 feat(graph): optimize task graph loading with lazy loading and caching
  graph/client/src/app/feature-projects/machines/unselected.state.ts
  graph/client/src/app/feature-tasks/tasks-sidebar.tsx
  graph/client/src/app/routes.tsx
  graph/client/src/app/shell.tsx
  graph/client/src/app/task-graph-cache.ts
  graph/shared/src/lib/project-graph-data-service/fetch-project-graph-service.ts
  graph/shared/src/lib/project-graph-data-service/get-project-graph-data-service.ts
  graph/shared/src/lib/project-graph-data-service/local-project-graph-service.ts
  graph/shared/src/lib/project-graph-data-service/mock-project-graph-service.ts
  graph/shared/src/lib/project-graph-data-service/nx-console-project-graph-service.ts
  package.json
  packages/nx/src/command-line/graph/graph.ts
  pnpm-lock.yaml
Labels: priority: medium

#31429 fix(devkit): include UPDATE changes in findCreatedProjectFiles for generator callbacks
  packages/nx/src/generators/utils/project-configuration.spec.ts
  packages/nx/src/generators/utils/project-configuration.ts
Labels: priority: medium

#32456 docs(nx-cloud): update to new onboarding urls
  astro-docs/src/content/docs/getting-started/Tutorials/angular-monorepo.mdoc
  astro-docs/src/content/docs/getting-started/Tutorials/react-monorepo.mdoc
  astro-docs/src/content/docs/getting-started/Tutorials/typescript-packages.mdoc
  docs/shared/tutorials/angular-monorepo.md
  docs/shared/tutorials/react-monorepo.md
  docs/shared/tutorials/typescript-packages.md
Labels: type: docs

#32432 docs(nx-cloud): add new nx cloud intro page
  astro-docs/src/content/docs/getting-started/nx-cloud.mdoc
  docs/generated/manifests/ci.json
  docs/generated/manifests/menus.json
  docs/map.json
  docs/nx-cloud/getting-started/intro.md
  docs/shared/reference/sitemap.md
  nx-dev/data-access-menu/src/lib/menu.utils.ts
  nx-dev/nx-dev/redirect-rules.js
Labels: type: docs

#32478 docs(nx-dev): update sidebar to contain auto generated content + static files
  astro-docs/README.md
  astro-docs/astro.config.mjs
  astro-docs/sidebar.mts
  astro-docs/src/content/docs/reference/Benchmarks/caching.mdoc
  astro-docs/src/content/docs/reference/Benchmarks/index.mdoc
  astro-docs/src/content/docs/reference/Benchmarks/nx-agents.mdoc
  astro-docs/src/content/docs/reference/Benchmarks/tsc-batch-mode.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/Executors.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/Generators.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/create-conformance-rule.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/overview.mdoc
  astro-docs/src/content/docs/reference/Powerpack/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/owners/Generators.mdoc
  astro-docs/src/content/docs/reference/Powerpack/owners/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/owners/overview.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/azure-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/azure-cache/overview.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/gcs-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/gcs-cache/overview.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/s3-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/s3-cache/overview.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/shared-fs-cache/Generators.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/shared-fs-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/shared-fs-cache/overview.mdoc
  astro-docs/src/content/docs/reference/config.mdoc
  astro-docs/src/content/docs/reference/environment-variables.mdoc
  astro-docs/src/content/docs/reference/glossary.mdoc
  astro-docs/src/content/docs/reference/index.mdoc
  astro-docs/src/content/docs/reference/inputs.mdoc
  astro-docs/src/content/docs/reference/launch-templates.mdoc
  astro-docs/src/content/docs/reference/nx-cloud-cli.mdoc
  astro-docs/src/content/docs/reference/nx-json.mdoc
  astro-docs/src/content/docs/reference/nxignore.mdoc
  astro-docs/src/content/docs/reference/project-configuration.mdoc
  astro-docs/src/content/docs/reference/releases.mdoc
  astro-docs/src/content/docs/references/commands.mdoc
  astro-docs/src/pages/reference/create-nx-workspace.astro
  astro-docs/src/pages/reference/devkit/[name].astro
  astro-docs/src/pages/reference/devkit/index.astro
  astro-docs/src/pages/reference/devkit/ngcli_adapter/[name].astro
  astro-docs/src/pages/reference/devkit/ngcli_adapter/index.astro
  astro-docs/src/pages/reference/nx-commands.astro
  astro-docs/src/pages/references/devkit/[name].astro
  astro-docs/src/plugins/banner.middleware.ts
  astro-docs/src/plugins/nx-reference-packages.loader.ts
  astro-docs/src/plugins/sidebar-reference-updater.middleware.ts
  astro-docs/src/plugins/utils/plugin-mappings.ts
  astro-docs/src/utils/devkit-content-queries.ts
  astro-docs/src/utils/sidebar.types.ts
Labels: type: docs

#32461 docs(nx-dev): add sitemap and robots.txt as static assets
  astro-docs/project.json
  astro-docs/public/robots.txt
  astro-docs/public/sitemap.xml
Labels: type: docs

#32490 feat(graph): unwrap `RankDirPanel` from experimental
  graph/client/package.json
  graph/client/src/app/app.tsx
  graph/client/src/app/feature-projects/projects-sidebar.tsx
  graph/client/src/app/shell.tsx
  graph/client/tsconfig.app.json
  graph/client/tsconfig.json
  graph/project-details/package.json
  graph/project-details/src/lib/project-details-header.tsx
  graph/project-details/tsconfig.json
  graph/project-details/tsconfig.lib.json
  graph/ui-render-config/.babelrc
  graph/ui-render-config/.eslintrc.json
  graph/ui-render-config/.storybook/main.ts
  graph/ui-render-config/.storybook/preview.ts
  graph/ui-render-config/.storybook/tailwind-imports.css
  graph/ui-render-config/README.md
  graph/ui-render-config/package.json
  graph/ui-render-config/postcss.config.js
  graph/ui-render-config/project.json
  graph/ui-render-config/src/index.ts
  graph/ui-render-config/src/lib/rankdir-context.tsx
  graph/ui-render-config/src/lib/rankdir-panel.stories.tsx
  graph/ui-render-config/src/lib/rankdir-panel.tsx
  graph/ui-render-config/src/lib/theme-context.tsx
  graph/ui-render-config/src/lib/theme-panel.stories.tsx
  graph/ui-render-config/src/lib/theme-panel.tsx
  graph/ui-render-config/src/lib/theme-resolver.tsx
  graph/ui-render-config/tailwind.config.js
  graph/ui-render-config/tsconfig.json
  graph/ui-render-config/tsconfig.lib.json
  graph/ui-render-config/tsconfig.storybook.json
  pnpm-lock.yaml
  tsconfig.json
Labels: scope: core

#32559 fix(nx-dev): issue with index pages not showing content lists
  astro-docs/src/components/markdoc/IndexPageCards.astro
  astro-docs/src/content/docs/concepts/CI Concepts/index.mdoc
  astro-docs/src/content/docs/concepts/Decisions/index.mdoc
  astro-docs/src/content/docs/concepts/Module Federation/index.mdoc
  astro-docs/src/content/docs/enterprise/Single Tenant/index.mdoc
  astro-docs/src/content/docs/features/CI Features/index.mdoc
  astro-docs/src/content/docs/guides/Adopting Nx/index.mdoc
  astro-docs/src/content/docs/guides/Enforce Module Boundaries/index.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/cipe-affected-project-graph.mdoc
  astro-docs/src/content/docs/guides/Nx Cloud/manual-dte.mdoc
  astro-docs/src/content/docs/guides/Nx Console/index.mdoc
  astro-docs/src/content/docs/guides/Nx Release/index.mdoc
  astro-docs/src/content/docs/guides/Tasks & Caching/index.mdoc
  astro-docs/src/content/docs/guides/Tips-n-Tricks/index.mdoc
  astro-docs/src/content/docs/reference/Benchmarks/index.mdoc
  astro-docs/src/content/docs/reference/Deprecated/index.mdoc
  astro-docs/src/content/docs/reference/Nx Cloud/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/conformance/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/index.mdoc
  astro-docs/src/content/docs/reference/Powerpack/owners/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/azure-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/gcs-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/s3-cache/index.mdoc
  astro-docs/src/content/docs/reference/Remote Cache Plugins/shared-fs-cache/index.mdoc
  astro-docs/src/content/docs/reference/index.mdoc
  astro-docs/src/content/docs/technologies/angular/Migration/index.mdoc
Labels: type: docs

#32562 fix(nx-dev): add missing data in plugin migrations
  astro-docs/src/plugins/utils/generate-plugin-markdown.ts
  astro-docs/src/plugins/utils/plugin-schema-parser.ts
Labels: type: docs
