Repository nrwl/nx, pull requests merged in 2025-04, with the labels that each got.

#30546 feat(core): handle yarn resolutions and patches when parsing and pruning lock file
  packages/nx/src/plugins/js/lock-file/__fixtures__/resolutions-and-patches/app/package.json
  packages/nx/src/plugins/js/lock-file/__fixtures__/resolutions-and-patches/app/yarn.lock.ts
  packages/nx/src/plugins/js/lock-file/__fixtures__/resolutions-and-patches/package.json
  packages/nx/src/plugins/js/lock-file/__fixtures__/resolutions-and-patches/yarn.lock.ts
  packages/nx/src/plugins/js/lock-file/utils/package-json.ts
  packages/nx/src/plugins/js/lock-file/yarn-parser.spec.ts
  packages/nx/src/plugins/js/lock-file/yarn-parser.ts
Labels: type: enhancement, scope: core

#30538 fix(webpack): nestjs workspace libs referencing when using ts solution
  e2e/node/src/node-ts-solution.test.ts
  packages/webpack/src/plugins/nx-webpack-plugin/lib/apply-base-config.ts
  packages/webpack/src/plugins/nx-webpack-plugin/lib/utils.ts
Labels: scope: node

#30630 feat(core): allow globs in project config to extend atomized targets
  packages/nx/src/project-graph/utils/project-configuration-utils.spec.ts
  packages/nx/src/project-graph/utils/project-configuration-utils.ts
Labels: type: feature, scope: core

#30621 docs(nx-dev): add blog post for test splitting techniques
  docs/blog/2025-04-15-test-splitting-techniques.md
  docs/blog/images/articles/atomized-nx-e2e-ci.avif
  docs/blog/images/articles/bg-test-splitting-techniques.avif
  docs/blog/images/articles/manually-split-e2e-projects.avif
  docs/blog/images/articles/single-e2e-project.avif
  scripts/documentation/internal-link-checker.ts
Labels: type: docs

#30838 feat(release)!: useLegacyVersioning is false by default, migrate config
  docs/generated/devkit/ProjectConfiguration.md
  docs/generated/manifests/nx-api.json
  docs/generated/packages-metadata.json
  docs/generated/packages/nx/migrations/release-version-config-changes.json
  docs/shared/recipes/nx-release/automate-github-releases.md
  docs/shared/recipes/nx-release/automatically-version-with-conventional-commits.md
  docs/shared/recipes/nx-release/build-before-versioning.md
  docs/shared/recipes/nx-release/configuration-version-prefix.md
  docs/shared/recipes/nx-release/configure-custom-registries.md
  docs/shared/recipes/nx-release/get-started-with-nx-release.md
  docs/shared/recipes/nx-release/publish-in-ci-cd.md
  docs/shared/recipes/nx-release/publish-rust-crates.md
  docs/shared/recipes/nx-release/update-local-registry-setup.md
  docs/shared/recipes/nx-release/updating-version-references.md
  docs/shared/reference/nx-json.md
  e2e/release/src/custom-registries.test.ts
  e2e/release/src/release.test.ts
  graph/client-e2e/project.json
  packages/js/src/release/version-actions.ts
  packages/js/src/utils/add-local-registry-scripts.ts
  packages/nx/migrations.json
  packages/nx/schemas/nx-schema.json
  packages/nx/src/command-line/release/command-object.ts
  packages/nx/src/command-line/release/config/config.spec.ts
  packages/nx/src/command-line/release/config/config.ts
  packages/nx/src/command-line/release/config/use-legacy-versioning.ts
  packages/nx/src/command-line/release/version.ts
  packages/nx/src/command-line/release/version/release-group-processor.ts
  packages/nx/src/command-line/release/version/release-version.spec.ts
  packages/nx/src/command-line/release/version/resolve-current-version.ts
  packages/nx/src/command-line/release/version/test-utils.ts
  packages/nx/src/command-line/release/version/version-actions.ts
  packages/nx/src/config/nx-json.ts
  packages/nx/src/config/workspace-json-project-json.ts
  packages/nx/src/migrations/update-21-0-0/release-version-config-changes.md
  packages/nx/src/migrations/update-21-0-0/release-version-config-changes.spec.ts
  packages/nx/src/migrations/update-21-0-0/release-version-config-changes.ts
Labels: PR status: breaking-changes, scope: release

#30809 feat(linter): add support for package based secondary entry points
  packages/eslint-plugin/src/rules/enforce-module-boundaries.spec.ts
  packages/eslint-plugin/src/rules/enforce-module-boundaries.ts
  packages/eslint-plugin/src/utils/runtime-lint-utils.spec.ts
  packages/eslint-plugin/src/utils/runtime-lint-utils.ts
Labels: type: bug, type: enhancement, scope: linter
