Repository nrwl/nx, changes with the owners that CODEOWNERS names for each.
All owners: @FrozenPandaz, @vsavkin, @AgentEnder, @jaysoo, @JamesHenry, @nrwl/nx-core-reviewers, @nrwl/nx-native-reviewers, @nrwl/nx-docs-reviewers, @StalkAltan, @rarmatei, @nixallover, @philipjfulcher, @bcabanes, @MaxKless, @xiongemi, @nrwl/nx-angular-reviewers, @nrwl/nx-testing-tools-reviewers, @nrwl/nx-react-reviewers, @Coly010, @nrwl/nx-vue-reviewers, @nrwl/nx-node-reviewers, @nrwl/nx-js-reviewers, @nrwl/nx-linter-reviewers, @nrwl/nx-storybook-reviewers, @nrwl/nx-devkit-reviewers, @leosvelperez, @meeroslav, @mandarini, @isaacplmann, @nrwl/nx-pipelines-reviewers, @nrwl/nrwlians

CODEOWNERS:

# Any file not covered by a rule below, will default to Jason + Victor and a few select others.
* @FrozenPandaz @vsavkin
/packages/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/e2e/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/scripts/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/tools/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
package.json @nrwl/nx-core-reviewers
pnpm-lock.yaml @nrwl/nx-core-reviewers
rust-toolchain @nrwl/nx-native-reviewers

# Docs Site + Graph
/docs @nrwl/nx-docs-reviewers
/docs/nx-cloud @StalkAltan @rarmatei @nixallover @nrwl/nx-docs-reviewers
/graph/** @philipjfulcher @FrozenPandaz @bcabanes @MaxKless @xiongemi
/images @nrwl/nx-docs-reviewers
/nx-dev/** @nrwl/nx-docs-reviewers
/typedoc-theme @nrwl/nx-docs-reviewers

# Plugin Verticals

## Angular
/docs/generated/packages/angular/** @nrwl/nx-angular-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/angular/** @nrwl/nx-angular-reviewers @nrwl/nx-docs-reviewers
/packages/angular/** @nrwl/nx-angular-reviewers
/e2e/angular/** @nrwl/nx-angular-reviewers
/packages/angular/plugins/component-testing.ts @nrwl/nx-angular-reviewers @nrwl/nx-testing-tools-reviewers
/packages/angular/src/generators/cypress-component-configuration/** @nrwl/nx-angular-reviewers @nrwl/nx-testing-tools-reviewers
/packages/angular/src/generators/component-test/** @nrwl/nx-angular-reviewers @nrwl/nx-testing-tools-reviewers

## React
/docs/generated/packages/react/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/next/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/react/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/next/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/packages/react/** @nrwl/nx-react-reviewers
/e2e/react/** @nrwl/nx-react-reviewers
/packages/next/** @nrwl/nx-react-reviewers
/e2e/next/** @nrwl/nx-react-reviewers
/packages/react/plugins/component-testing/** @nrwl/nx-react-reviewers @nrwl/nx-testing-tools-reviewers
/packages/react/src/generators/cypress-component-configuration/** @nrwl/nx-react-reviewers @nrwl/nx-testing-tools-reviewers
/packages/react/src/generators/component-test/** @nrwl/nx-react-reviewers @nrwl/nx-testing-tools-reviewers

# React Native
/docs/generated/packages/detox/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/expo/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/react-native/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/react-native/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers
/packages/detox/** @nrwl/nx-react-reviewers
/e2e/detox/** @nrwl/nx-react-reviewers
/packages/expo/** @nrwl/nx-react-reviewers
/e2e/expo/** @nrwl/nx-react-reviewers
/packages/react-native/** @nrwl/nx-react-reviewers
/e2e/react-native/** @nrwl/nx-react-reviewers

## remix
/docs/generated/packages/remix/** @nrwl/nx-react-reviewers @nrwl/nx-docs-reviewers @Coly010
/packages/remix/** @nrwl/nx-react-reviewers @Coly010
/e2e/remix/** @nrwl/nx-react-reviewers @Coly010

# Vue
/packages/vue/** @nrwl/nx-vue-reviewers
/e2e/vue/** @nrwl/nx-vue-reviewers
/packages/nuxt/** @nrwl/nx-vue-reviewers
/e2e/nuxt/** @nrwl/nx-vue-reviewers

## Node
/docs/generated/packages/node/** @nrwl/nx-node-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/nest/** @nrwl/nx-node-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/express/** @nrwl/nx-node-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/node/** @nrwl/nx-node-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/express/** @nrwl/nx-node-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/nest/** @nrwl/nx-node-reviewers @FrozenPandaz @nrwl/nx-docs-reviewers
/packages/node/** @nrwl/nx-node-reviewers
/packages/express/** @nrwl/nx-node-reviewers
/packages/nest/** @nrwl/nx-node-reviewers
/e2e/node/** @nrwl/nx-node-reviewers

## JS
/docs/generated/packages/js/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/web/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/webpack/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/rspack/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/esbuild/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/rollup/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/vite/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/js/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/web/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/webpack/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/rspack/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/esbuild/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/vite/** @nrwl/nx-js-reviewers @nrwl/nx-docs-reviewers
/packages/js/** @nrwl/nx-js-reviewers
/e2e/js/** @nrwl/nx-js-reviewers
/packages/web/** @nrwl/nx-js-reviewers
/e2e/web/** @nrwl/nx-js-reviewers
/packages/webpack/** @nrwl/nx-js-reviewers
/e2e/webpack/** @nrwl/nx-js-reviewers
/packages/rspack/** @nrwl/nx-js-reviewers
/e2e/rspack/** @nrwl/nx-js-reviewers
/packages/rsbuild/** @nrwl/nx-js-reviewers
/packages/esbuild/** @nrwl/nx-js-reviewers
/e2e/esbuild/** @nrwl/nx-js-reviewers
/packages/rollup/** @nrwl/nx-js-reviewers
/e2e/rollup/** @nrwl/nx-js-reviewers
/packages/vite/** @nrwl/nx-js-reviewers
/e2e/vite/** @nrwl/nx-js-reviewers

## Module Federation
/packages/module-federation/** @nrwl/nx-js-reviewers

## Tools
/docs/generated/packages/cypress/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/cypress/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/jest/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/jest/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/playwright/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/playwright/** @nrwl/nx-testing-tools-reviewers @nrwl/nx-docs-reviewers
/packages/cypress/** @nrwl/nx-testing-tools-reviewers
/e2e/cypress/** @nrwl/nx-testing-tools-reviewers
/packages/jest/** @nrwl/nx-testing-tools-reviewers
/e2e/jest/** @nrwl/nx-testing-tools-reviewers
/packages/playwright/** @nrwl/nx-testing-tools-reviewers
/e2e/playwright/** @nrwl/nx-testing-tools-reviewers

# Linter
/docs/generated/packages/eslint-plugin/** @nrwl/nx-linter-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/eslint/** @nrwl/nx-linter-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/eslint/** @nrwl/nx-linter-reviewers @nrwl/nx-docs-reviewers
/packages/eslint-plugin/** @nrwl/nx-linter-reviewers
/packages/eslint/** @nrwl/nx-linter-reviewers
/e2e/eslint/** @nrwl/nx-linter-reviewers
.eslint* @nrwl/nx-linter-reviewers

# Storybook
/docs/generated/packages/storybook/** @nrwl/nx-storybook-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/storybook/** @nrwl/nx-storybook-reviewers @nrwl/nx-docs-reviewers
/packages/storybook/** @nrwl/nx-storybook-reviewers
/e2e/storybook/** @nrwl/nx-storybook-reviewers

## Devkit
/docs/generated/devkit/** @nrwl/nx-devkit-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/devkit/** @nrwl/nx-devkit-reviewers @nrwl/nx-docs-reviewers
/packages/devkit/** @nrwl/nx-devkit-reviewers
/packages/devkit/index.ts @FrozenPandaz @vsavkin
/packages/devkit/public-api.ts @FrozenPandaz @vsavkin

# Gradle
/packages/gradle/** @FrozenPandaz @xiongemi
/e2e/gradle/** @FrozenPandaz @xiongemi

# Nx-Plugin
/docs/generated/packages/plugin/** @nrwl/nx-devkit-reviewers @nrwl/nx-docs-reviewers
/docs/shared/packages/plugin/** @nrwl/nx-devkit-reviewers @nrwl/nx-docs-reviewers
/packages/plugin/** @nrwl/nx-devkit-reviewers
/e2e/plugin/** @nrwl/nx-devkit-reviewers

## Core
/docs/generated/cli/** @nrwl/nx-core-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/nx/** @nrwl/nx-core-reviewers @nrwl/nx-docs-reviewers
/docs/generated/packages/workspace/** @nrwl/nx-core-reviewers @nrwl/nx-docs-reviewers
/packages/nx/** @nrwl/nx-core-reviewers
/packages/nx/src/adapter @nrwl/nx-core-reviewers @leosvelperez
/packages/nx/src/native @nrwl/nx-core-reviewers @nrwl/nx-native-reviewers
/packages/nx/src/plugins/js/lock-file @nrwl/nx-core-reviewers @meeroslav
/packages/nx/src/command-line/init/implementation/angular/** @nrwl/nx-angular-reviewers @nrwl/nx-core-reviewers
/e2e/nx-init/src/nx-init-angular.test.ts @nrwl/nx-angular-reviewers
/packages/nx/src/command-line/init/implementation/react/** @nrwl/nx-react-reviewers
/e2e/nx-init/src/nx-init-react.test.ts @nrwl/nx-react-reviewers
/e2e/nx-init/src/files/cra/** @nrwl/nx-react-reviewers
/e2e/nx*/** @nrwl/nx-core-reviewers
/packages/workspace/** @nrwl/nx-core-reviewers
/e2e/workspace-create/** @nrwl/nx-core-reviewers
/e2e/release/** @nrwl/nx-core-reviewers

# Misc
/e2e/lerna-smoke-tests/** @vsavkin @JamesHenry
/e2e/utils/** @meeroslav @nrwl/nx-testing-tools-reviewers @vsavkin @mandarini
/community @nrwl/nx-docs-reviewers
/CONTRIBUTING.md @FrozenPandaz @isaacplmann
/CODE_OF_CONDUCT.md @FrozenPandaz @isaacplmann
/CODEOWNERS @FrozenPandaz @AgentEnder
/packages/nx/src/nx-cloud/utilities/url-shorten.ts @MaxKless

# Scripts
/scripts/documentation @nrwl/nx-docs-reviewers
/scripts/angular-support-upgrades @nrwl/nx-angular-reviewers

# CI
/.circleci/** @nrwl/nx-pipelines-reviewers
/.nx/workflows/** @nrwl/nx-pipelines-reviewers
/.github/** @nrwl/nx-pipelines-reviewers
/.husky/** @nrwl/nx-pipelines-reviewers
/packages/workspace/src/generators/ci-workflow/** @nrwl/nx-pipelines-reviewers

# Global Files
project.json @FrozenPandaz @vsavkin
jest.config.ts @nrwl/nx-testing-tools-reviewers @FrozenPandaz
jest.preset.js @nrwl/nx-testing-tools-reviewers @FrozenPandaz

# Overrides - These are applied last, so override any matches above.
docs/generated/manifests/* @nrwl/nrwlians
docs/generated/packages-metadata.json @FrozenPandaz @jaysoo @AgentEnder @nrwl/nx-docs-reviewers

fix(release): skip changelog generation for projects without available version data (#29212)
  packages/nx/src/command-line/release/changelog.ts
Owners: @nrwl/nx-core-reviewers

fix(remix): update lib generator to generate valid names in package.json
  packages/remix/src/generators/library/lib/add-tsconfig-entry-points.ts
  packages/remix/src/generators/library/lib/normalize-options.ts
  packages/remix/src/generators/library/library.impl.spec.ts
  packages/remix/src/generators/library/library.impl.ts
Owners: @nrwl/nx-react-reviewers, @Coly010

fix(remix): update app generator with valid package.json without Prettier
  packages/remix/src/generators/application/application.impl.spec.ts
  packages/remix/src/generators/application/files/ts-solution/package.json__tmpl__
Owners: @nrwl/nx-react-reviewers, @Coly010

feat(angular): add migration to remove the `tailwindConfig` option from ng-packager executors
  packages/angular/migrations.json
  packages/angular/src/migrations/update-20-2-0/remove-tailwind-config-from-ng-packagr-executors.spec.ts
  packages/angular/src/migrations/update-20-2-0/remove-tailwind-config-from-ng-packagr-executors.ts
Owners: @nrwl/nx-angular-reviewers

feat(angular): add migration to remove the `tailwindConfig` option from ng-packager executors (#29220)
  packages/angular/migrations.json
  packages/angular/src/migrations/update-20-2-0/remove-tailwind-config-from-ng-packagr-executors.spec.ts
  packages/angular/src/migrations/update-20-2-0/remove-tailwind-config-from-ng-packagr-executors.ts
Owners: @nrwl/nx-angular-reviewers

fix(remix): update app generator with valid package.json without Prettier (#29218)
  packages/remix/src/generators/application/application.impl.spec.ts
  packages/remix/src/generators/application/files/ts-solution/package.json__tmpl__
Owners: @nrwl/nx-react-reviewers, @Coly010

fix(misc): use the ts sync generator with other bundler tasks
  packages/js/src/generators/setup-build/generator.ts
  packages/rollup/src/plugins/plugin.ts
  packages/rspack/src/plugins/plugin.ts
  packages/vite/src/plugins/plugin.spec.ts
  packages/vite/src/plugins/plugin.ts
  packages/webpack/src/plugins/plugin.ts
Owners: @nrwl/nx-js-reviewers

fix(release): use prepatch version for pre-release dependent package updates
  packages/js/src/generators/release-version/release-version.spec.ts
  packages/js/src/generators/release-version/release-version.ts
Owners: @nrwl/nx-js-reviewers

fix(remix): update lib generator to generate valid names in package.json (#29219)
  packages/remix/src/generators/library/lib/add-tsconfig-entry-points.ts
  packages/remix/src/generators/library/lib/normalize-options.ts
  packages/remix/src/generators/library/library.impl.spec.ts
  packages/remix/src/generators/library/library.impl.ts
Owners: @nrwl/nx-react-reviewers, @Coly010

feat(devkit): expose findMatchingProjects from @nx/devkit
  docs/generated/devkit/README.md
  docs/generated/devkit/findMatchingProjects.md
  docs/generated/packages/devkit/documents/nx_devkit.md
  packages/nx/src/devkit-exports.ts
Owners: @nrwl/nx-devkit-reviewers, @nrwl/nx-docs-reviewers, @nrwl/nx-core-reviewers

fix(misc): use the ts sync generator with other bundler tasks (#29170)
  packages/js/src/generators/setup-build/generator.ts
  packages/rollup/src/plugins/plugin.ts
  packages/rspack/src/plugins/plugin.ts
  packages/vite/src/plugins/plugin.spec.ts
  packages/vite/src/plugins/plugin.ts
  packages/webpack/src/plugins/plugin.ts
Owners: @nrwl/nx-js-reviewers

fix(testing): fix passing extra args to Jest cli
  packages/jest/src/executors/jest/jest.impl.spec.ts
  packages/jest/src/executors/jest/jest.impl.ts
Owners: @nrwl/nx-testing-tools-reviewers

feat(core): use custom resolution to resolve from source local plugins with artifacts pointing to the outputs
  e2e/plugin/src/nx-plugin-ts-solution.test.ts
  e2e/utils/create-project-utils.ts
  packages/nx/src/config/schema-utils.ts
  packages/nx/src/project-graph/plugins/loader.ts
Owners: @nrwl/nx-devkit-reviewers, @meeroslav, @nrwl/nx-testing-tools-reviewers, @vsavkin, @mandarini, @nrwl/nx-core-reviewers

fix(gradle): change gradle glob to include root gradlew (#29206)
  packages/gradle/plugin.spec.ts
  packages/gradle/src/utils/split-config-files.ts
Owners: @FrozenPandaz, @xiongemi

fix(gradle): read tasks from properties report (#29124)
  e2e/gradle/src/gradle.test.ts
  graph/ui-project-details/src/lib/target-configuration-details-group-list/target-configuration-details-group-list.tsx
  packages/gradle/migrations.json
  packages/gradle/src/generators/ci-workflow/__snapshots__/generator.spec.ts.snap
  packages/gradle/src/generators/ci-workflow/generator.ts
  packages/gradle/src/generators/init/init.spec.ts
  packages/gradle/src/generators/init/init.ts
  packages/gradle/src/migrations/20-2-0/add-include-subprojects-tasks.spec.ts
  packages/gradle/src/migrations/20-2-0/add-include-subprojects-tasks.ts
  packages/gradle/src/plugin/nodes.spec.ts
  packages/gradle/src/plugin/nodes.ts
  packages/gradle/src/utils/get-gradle-report.ts
Owners: @FrozenPandaz, @xiongemi, @philipjfulcher, @bcabanes, @MaxKless

fix(core): skip nx cloud prompt when interactive is false (#28949)
  e2e/utils/create-project-utils.ts
  packages/create-nx-workspace/src/internal-utils/prompts.ts
  packages/plugin/src/generators/create-package/create-package.ts
  packages/plugin/src/generators/create-package/files/e2e/__cliName__.spec.ts__tmpl__
  packages/plugin/src/generators/e2e-project/e2e.ts
  packages/plugin/src/generators/e2e-project/files/src/__pluginName__.spec.ts__tmpl__
Owners: @meeroslav, @nrwl/nx-testing-tools-reviewers, @vsavkin, @mandarini, @FrozenPandaz, @AgentEnder, @jaysoo, @JamesHenry, @nrwl/nx-devkit-reviewers

docs(core): fix syntax to specify configuration flag
  docs/shared/guides/define-environment-variables.md
Owners: @nrwl/nx-docs-reviewers

chore(repo): test
  nx.json
Owners: @FrozenPandaz, @vsavkin

fix(gradle): fix gradle unit test
  e2e/gradle/src/utils/create-gradle-project.ts
  packages/gradle/plugin.spec.ts
  packages/gradle/src/utils/get-project-report-lines.ts
Owners: @FrozenPandaz, @xiongemi

fix(gradle): fix gradle unit test (#29224)
  e2e/gradle/src/utils/create-gradle-project.ts
  packages/gradle/plugin.spec.ts
  packages/gradle/src/utils/get-project-report-lines.ts
Owners: @FrozenPandaz, @xiongemi

docs(nx-dev): revamp the Nx Enterprise page on nx.dev
  nx-dev/nx-dev/pages/enterprise.tsx
  nx-dev/nx-dev/public/images/enterprise/nx-agents.avif
  nx-dev/nx-dev/public/images/enterprise/nx-atomizer.avif
  nx-dev/nx-dev/public/images/enterprise/nx-flaky-tasks-detection.avif
  nx-dev/nx-dev/public/images/enterprise/nx-partnership.avif
  nx-dev/nx-dev/public/images/enterprise/nx-replay.avif
  nx-dev/nx-dev/public/images/enterprise/video-story-pavlo-grosse.avif
  nx-dev/ui-animations/src/lib/marquee.tsx
  nx-dev/ui-common/src/lib/default-layout.tsx
  nx-dev/ui-common/src/lib/headers/header.tsx
  nx-dev/ui-enterprise/src/index.ts
  nx-dev/ui-enterprise/src/lib/bento-grid.tsx
  nx-dev/ui-enterprise/src/lib/call-to-action.tsx
  nx-dev/ui-enterprise/src/lib/carousel.tsx
  nx-dev/ui-enterprise/src/lib/customer-logos.tsx
  nx-dev/ui-enterprise/src/lib/customer-metrics.tsx
  nx-dev/ui-enterprise/src/lib/download-case-study.tsx
  nx-dev/ui-enterprise/src/lib/download-ebook.tsx
  nx-dev/ui-enterprise/src/lib/enterprise-addons.tsx
  nx-dev/ui-enterprise/src/lib/hero.tsx
  nx-dev/ui-enterprise/src/lib/hetzner-cloud-testimonial.tsx
  nx-dev/ui-enterprise/src/lib/make-your-ci-fast.tsx
  nx-dev/ui-enterprise/src/lib/metrics-and-customers.tsx
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
  nx-dev/ui-enterprise/src/lib/scale-your-people.tsx
  nx-dev/ui-enterprise/src/lib/security.tsx
  nx-dev/ui-enterprise/src/lib/solve-your-ci.tsx
  nx-dev/ui-enterprise/src/lib/testimonial-carousel.tsx
  nx-dev/ui-enterprise/src/lib/trusted-by.tsx
  nx-dev/ui-enterprise/src/lib/vmware-testimonial.tsx
  nx-dev/ui-icons/src/lib/customers/hetzner-cloud.tsx
  nx-dev/ui-icons/src/lib/customers/payfit.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/make-your-ci-fast.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/make-your-ci-fast.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

Typo
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

docs(nx-dev): update image for nx-flaky-tasks-detection
  nx-dev/nx-dev/public/images/enterprise/nx-flaky-tasks-detection.avif
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
Owners: @nrwl/nx-docs-reviewers

chore(core): adds spinners when graph computation takes longer than expected
  packages/nx/src/project-graph/plugins/isolation/messaging.ts
  packages/nx/src/project-graph/utils/project-configuration-utils.ts
Owners: @nrwl/nx-core-reviewers

chore(core): first draft of spinners when graph compute takes long time
  packages/nx/src/daemon/client/client.ts
  packages/nx/src/project-graph/build-project-graph.ts
  packages/nx/src/project-graph/plugins/internal-api.ts
  packages/nx/src/project-graph/utils/project-configuration-utils.ts
Owners: @nrwl/nx-core-reviewers

fix(core): prevent timeouts for spinners from keeping node alive
  packages/nx/src/daemon/client/client.ts
  packages/nx/src/project-graph/build-project-graph.ts
  packages/nx/src/project-graph/utils/project-configuration-utils.ts
Owners: @nrwl/nx-core-reviewers

docs(nx-dev): revamp the Nx Enterprise page on nx.dev (#29209)
  nx-dev/nx-dev/pages/enterprise.tsx
  nx-dev/nx-dev/public/images/enterprise/nx-agents.avif
  nx-dev/nx-dev/public/images/enterprise/nx-atomizer.avif
  nx-dev/nx-dev/public/images/enterprise/nx-flaky-tasks-detection.avif
  nx-dev/nx-dev/public/images/enterprise/nx-partnership.avif
  nx-dev/nx-dev/public/images/enterprise/nx-replay.avif
  nx-dev/nx-dev/public/images/enterprise/video-story-pavlo-grosse.avif
  nx-dev/ui-animations/src/lib/marquee.tsx
  nx-dev/ui-common/src/lib/default-layout.tsx
  nx-dev/ui-common/src/lib/headers/header.tsx
  nx-dev/ui-enterprise/src/index.ts
  nx-dev/ui-enterprise/src/lib/bento-grid.tsx
  nx-dev/ui-enterprise/src/lib/call-to-action.tsx
  nx-dev/ui-enterprise/src/lib/carousel.tsx
  nx-dev/ui-enterprise/src/lib/customer-logos.tsx
  nx-dev/ui-enterprise/src/lib/customer-metrics.tsx
  nx-dev/ui-enterprise/src/lib/download-case-study.tsx
  nx-dev/ui-enterprise/src/lib/download-ebook.tsx
  nx-dev/ui-enterprise/src/lib/enterprise-addons.tsx
  nx-dev/ui-enterprise/src/lib/hero.tsx
  nx-dev/ui-enterprise/src/lib/hetzner-cloud-testimonial.tsx
  nx-dev/ui-enterprise/src/lib/make-your-ci-fast.tsx
  nx-dev/ui-enterprise/src/lib/metrics-and-customers.tsx
  nx-dev/ui-enterprise/src/lib/scale-your-organization.tsx
  nx-dev/ui-enterprise/src/lib/scale-your-people.tsx
  nx-dev/ui-enterprise/src/lib/security.tsx
  nx-dev/ui-enterprise/src/lib/solve-your-ci.tsx
  nx-dev/ui-enterprise/src/lib/testimonial-carousel.tsx
  nx-dev/ui-enterprise/src/lib/trusted-by.tsx
  nx-dev/ui-enterprise/src/lib/vmware-testimonial.tsx
  nx-dev/ui-icons/src/lib/customers/hetzner-cloud.tsx
  nx-dev/ui-icons/src/lib/customers/payfit.tsx
Owners: @nrwl/nx-docs-reviewers

fix(bundling): Correct declarationRootDir handling for esbuild
  docs/generated/packages/esbuild/executors/esbuild.json
  e2e/esbuild/src/esbuild.test.ts
  packages/esbuild/src/executors/esbuild/schema.json
  packages/js/src/utils/typescript/run-type-check.ts
Owners: @nrwl/nx-js-reviewers, @nrwl/nx-docs-reviewers

fix(core): add workspaces path if package path is not included
  e2e/nx/src/import.test.ts
  package.json
  packages/nx/package.json
  packages/nx/src/command-line/import/import.ts
  packages/nx/src/plugins/package-json/create-nodes.ts
  packages/nx/src/project-graph/file-utils.ts
  packages/nx/src/utils/fileutils.ts
  packages/nx/src/utils/package-manager.spec.ts
  packages/nx/src/utils/package-manager.ts
  pnpm-lock.yaml
Owners: @nrwl/nx-core-reviewers

chore(repo): fix docs release
  .github/workflows/publish.yml
  scripts/release-docs.ts
Owners: @nrwl/nx-pipelines-reviewers, @FrozenPandaz, @vsavkin, @AgentEnder, @jaysoo, @JamesHenry
